[2011-08-01 03:40] JAL9302 opened #1 "Update NPM to use newest version"
I would like to take advantage of your query.js script you recently added. Can you update npm to use the newest version of your project so i can install it easily from npm? Last time you updated npm was over 100 days ago. Thanks.

[2011-08-02 09:10] #1 closed, assigned to nobody

[2011-09-09 11:06] lbdremy opened #2 "Rename purgeAdd method"
It will be nice to renamed purgeAdd method to flashAdd that's more correct.

[2011-09-09 11:07] lbdremy opened #3 "SORL_CLIENT: Nothing to purge. Add update clear."
This event cannot be consider as an error in the worst case a info/warning.

[2011-09-09 11:59] lbdremy opened #4 "Error handling"
The callback that return the response and the error should respect the node convention, so

`In node.js, it is considered standard practice to handle errors in asynchronous functions by returning them as the first argument to the current function's callback. If there is an error, the first parameter is passed an Error object with all the details. Otherwise, the first parameter is null.`

[2011-09-09 12:26] #2 closed, assigned to nobody

[2011-09-09 12:26] #3 closed, assigned to nobody

[2011-09-09 12:26] #4 closed, assigned to nobody

[2011-10-10 10:32] lbdremy opened #5 "Write better documentation"
For :
- Querying
- Deleting
- Optimizing
- Adding

[2011-10-10 22:42] lbdremy opened #6 "Add authentication support"
It would be nice to support authentication. Need to take a look to the Solr documentation.
http://wiki.apache.org/solr/SolrSecurity
Basic Access Auth and Digest Access Auth?

[2011-10-13 14:47] lbdremy opened #7 "Grouping / Field Collapsing"
Add a warning in README, because Grouping / Field Collapsing would work if the Apache Solr installed has a version >=3.3, according to the announcement of Apache Solr 3.3 available at http://svn.apache.org/repos/asf/lucene/dev/tags/lucene_solr_3_3/solr/CHANGES.txt

[2011-10-18 18:06] lbdremy opened #8 "Support the replication HTTP API"
Docs: http://wiki.apache.org/solr/SolrReplication

[2011-10-20 09:49] lbdremy opened #9 "Implement ping command"
Implement the ping command.
The request is http://host:port/solr/admin/ping?&wt=json

Response:

<pre>
<code>
{
    "responseHeader": {
        "status": 0,
        "QTime": 5,
       "params": {
           "echoParams": "all",
           "rows": "10",
           "q": "solrpingquery",
           "qt": "search",
           "wt": "json"
        }
   },
   "status": "OK"
}
</code>
</pre>

[2011-10-20 13:43] lbdremy opened #10 "Remove sax module and parse errors differently"
The sax module is absolutely not necessary, so parse errors differently like this the module will be without dependencies, expect vows.

[2011-10-24 14:44] lbdremy opened #11 "Support Core"
Actually the core is in parameter when creating a new `Client` but it's not considered when building the full url to access the Solr API. Fix this!

[2011-11-07 12:53] lbdremy opened #12 "Implement The TermsComponent"
Look at :
http://wiki.apache.org/solr/TermsComponent

[2011-11-14 23:34] #11 closed, assigned to lbdremy

[2012-01-20 22:59] #9 closed, assigned to lbdremy

[2012-01-22 15:12] #7 closed, assigned to lbdremy

[2012-01-22 15:12] #10 closed, assigned to lbdremy

[2012-04-01 20:38] lbdremy opened #15 "Return an object and not the JSON response?"

[2012-04-01 20:41] lbdremy opened #16 "Implement More Like this"

[2012-04-01 20:41] lbdremy opened #17 "Allow to create custom command e.g : suggest ..."

[2012-04-07 21:54] #15 closed, assigned to nobody

[2012-04-07 21:54] #16 closed, assigned to nobody

[2012-04-17 13:08] lbdremy opened #18 "Add a method to ask Solr for Remote Streaming"
Remote streaming allows you to send the contents of a URL as a stream to a given SolrRequestHandler
http://wiki.apache.org/solr/ContentStream

[2012-05-06 23:29] #5 closed, assigned to lbdremy

[2012-07-10 17:11] lbdremy opened #20 "Buffering documents in the `add` method and remove them after is wrong"
I implemented this a while ago, and it appears it's not a good idea.
If buffering is necessary it should be done outside of this method.

Case where it causes trouble:

[code]

The quick fix, without breaking the buffering feature in the `add` method would be to clean the array of docs only if `this.updateEach !=1` and so add a condition where the splice is done
`if(this.updateEach != 1){ this.add

[2012-07-10 18:50] #20 closed, assigned to nobody

[2012-08-03 19:19] ecdeveloper opened #21 "Error while using rangeFilter"
Hi,
When trying to apply a range filter, I'm getting some Java errors.
Here is the query:
solr.createQuery()
    .q(solr_query_params)
    .rangeFilter({ field : 'created_at', start : 1343979397, stop : 1343979398})
    .start(0)
    .rows(20);

Error I get:
{ name: 'SolrError',
  message: 'HTTP status 500.Reason: For input string: "undefined"

java.lang.NumberFormatException: For input string: "u

[2012-08-04 16:39] #21 closed, assigned to nobody

[2012-08-04 23:46] lbdremy opened #22 "Establish persistance connection with keep-alive"
As it is pointed out in the RFC of HTTP (http://www.w3.org/Protocols/rfc2616/rfc2616-sec8.html), a persistance connection has several advantages when a client makes multiple requests on the same server in a short amount of time, which would be good to benefit since our case.

[2012-08-05 23:38] #22 closed, assigned to nobody

[2012-08-06 18:34] mvolkmann opened #23 "addRemoteResource working?"
There is no test for the addRemoteResource method of Client and I haven't been able to get it to work. I get
{ name: 'SolrError', message: 'HTTP status 400.Reason: Unknown command: id [8]' }.

Does this really work as-is?

[2012-08-06 19:44] #23 closed, assigned to nobody

[2012-08-15 22:28] mvolkmann opened #25 "searching for multiple words in a field"
How do you specify a query for documents with a field named "foo" that contains both the words "bar" and "baz"?
I tried this, but it must not be correct.

[code]

[2012-08-16 14:52] #25 closed, assigned to nobody

[2012-08-29 08:36] HardlyMirage opened #26 "Sort option not being parsed correctly"
We are using this query:

[code]

It works if we don't sort. But with sort, we get this output:

[code]

So seems to me that it's prepending extra characters to the sort option ('0 ')

[2012-09-01 13:42] nilskassube opened #27 "Support for Solr 4"
E.g. the path for update is now update/ and not update/json.

[2012-09-02 14:26] #26 closed, assigned to nobody

[2012-09-10 15:13] eldilibra opened #28 "mlt() returning nothing"
Hello again. For some reason, I can't get the MoreLikeThis feature to return any results using your client. I am storing term vectors in Solr, and am using a small data set (10 documents) just to debug this for now. My query goes as follows:

[code]

You'll notice that I first query the indexed documents in order to get content to use for the MoreLikeThis query. Does something seem wrong here? I'v

[2012-09-13 11:27] jochenonline opened #29 "solr-node-client vs. node-solr"
I am new to solr with node.js and wondering which is the better lib to connect both: yours or node-solr (https://github.com/gsf/node-solr). I do not expect an objective answert but maybe you did a comparison to the other project by yourself that could help me find out which one I should choose depending on my scope.

Thanks for your help!

P.S. I have asked this question the other author too.

[2012-09-13 14:06] #29 closed, assigned to nobody

[2012-09-13 14:57] jochenonline opened #30 "How to delete all documents?"
I tried

[code]

but I always get

[code]

Also

[code]

and

[code]

lead to the same result!

What am I doing wrong?

[2012-09-30 17:16] lbdremy opened #31 "Escape special characters in values"
More informations about what need to be escaped there -> http://lucene.apache.org/core/3_6_1/queryparsersyntax.html#Escaping%20Special%20Characters

[2012-10-13 17:19] lbdremy opened #33 "Remove mock, use `travis-solr` instead when possible"
There is a project called `travis-solr` available there https://github.com/moliware/travis-solr, making the installation of solr a breeze in the travis env.
Instead of mocking all Solr responses, have a proper Solr server is preferable.

[2012-10-13 18:04] #31 closed, assigned to nobody

[2012-10-15 22:39] lbdremy opened #34 "Move the definition of the paths of all request handlers (update,select,admin...) in the `Client`"

[2012-10-15 22:54] lbdremy opened #35 "Implement shorthand command `deleteAll`"

[2012-10-15 22:54] lbdremy opened #36 "Implement shorthand command `softCommit`"

[2012-10-15 22:56] lbdremy opened #37 "Implement shorthand command `prepareCommit`"

[2012-10-15 22:57] lbdremy opened #38 "Implement shorthand command `searchAll`"

[2012-10-15 23:01] #17 closed, assigned to nobody

[2012-10-15 23:04] #6 closed, assigned to lbdremy

[2012-10-15 23:28] lbdremy opened #39 "Rewrite all tests with mocha and chai."

[2012-10-16 21:33] #35 closed, assigned to nobody

[2012-10-16 21:33] #37 closed, assigned to nobody

[2012-10-16 21:33] #33 closed, assigned to nobody

[2012-10-16 21:33] #34 closed, assigned to nobody

[2012-10-16 21:33] #36 closed, assigned to nobody

[2012-10-16 21:48] lbdremy opened #40 "Client#search should accept an Object as first argument and stringify it as a qs"

[2012-11-11 11:14] lbdremy opened #43 "Add method `createDisMaxQuery()` to `Client`"

[2012-11-11 11:15] lbdremy opened #44 "Undo overidding of `querystring.escape`"

[2012-11-17 16:25] juzerali opened #45 "[api] Will it pay to provide a more flexible query api."
Most of `Query` api accepts an `options` object. I was just wondering won't it be _sugary_ to provide apis which accepts key-value pairs, boolean string attributes as arguments in any order?

For example:

[code]

When using coffeescript this syntax would look really neat and descriptive inside apps.

**Con**: Will running code to merge all the arguments after every call add to overhead and impact

[2012-12-23 07:44] juzerali opened #48 "How to specify collection"
How does this client determines to which collection it needs to store or retrieve data from? As far as I can see from the source code, it needs to be specified into `options` object. Is there any other way? For example specifying a global `collection` name in the client object itself?

[2012-12-28 20:02] juzerali opened #49 "Question: How did you made the travis tests pass?"
Can we put solr infrastructure on travis? I need this for elasticSearchClient.

[2012-12-28 21:49] #48 closed, assigned to nobody

[2012-12-28 21:50] #49 closed, assigned to nobody

[2013-01-09 09:36] davidshen84 opened #50 "Publish schema.xml for Solr4"
Hi @lbdremy,  please publish your `schema.xml` file for Solr4 in the test directory. It would be easier for other people working on the `0.3.x` branch and contribute.

[2013-01-09 11:16] #50 closed, assigned to nobody

[2013-01-17 06:04] davidshen84 opened #51 "Should not escape Lucene special characters"
I do not think we should escape those special characters, instead, we let the user decide whether to escape them.

e.g.:
query.q({"id": "_"})
What I want is to get all documents which have the 'id' field; but if escaped, it becomes {"id": "\_"}, which means to get documents which have an 'id' field and its value is '*'.

Lucene document says these characters are special, but not unsafe. solr-clien

[2013-03-27 10:25] schlechtweg opened #54 "Add config option for custom search handlers."
It should be possible to add an custom search handler in client config.

[code]

[2013-04-02 08:30] schlechtweg opened #56 "Add Support for Range Facets"
Adding support for Range Facet handling (Solr 3.1+).

See "http://wiki.apache.org/solr/SimpleFacetParameters?highlight=%28%28SimpleFacetParameters%29%29#Facet_by_Range" for detail parameters.

[2013-05-02 12:46] zorrofox opened #58 "vows 0.6.x from npm does not support wildcard"
Hi All,
   We use vows to test and as I research the vows project support the wildcard from this commit https://github.com/cloudhead/vows/commit/70865cc1851601346663e1ec78e2ff8044166fb9
 and the npm don't include this commit. And as I run the npm test the error will show below:

[code]

[2013-05-14 09:51] lbdremy opened #59 "Create solr client with multiple endpoints"
We're going to need to be able to create a client communicating with multiple endpoints, the requests should be load balanced between the endpoints.
The module [poolee](https://github.com/dannycoates/poolee) is a potential candidate to solve this.

[2013-07-04 19:05] richtera opened #60 "Added a whole bunch of features..."
Hi
Would you like me to put together a pull request?
I have added the following:
sharding and multicore searching.
collection and cloud support.
add some DSE support for documents (sendToSolr api)
I am not sure if those features fit into your requirements.
Andy

[2013-08-13 19:09] scherler opened #62 "Support multiple group fields"
Solr allows multiple group.field, remove limiting behavior in code which disallows this in  the client

[2013-08-13 19:25] scherler opened #64 "Support multiple facet fields"
Solr allows multiple facet.field, remove limiting behavior in code which disallows this in  the client

[2013-08-13 19:25] #64 closed, assigned to nobody

[2013-08-13 19:43] scherler opened #65 "Version number in trunk should be other then latest release"
I suggest to change the version number of the project into something like:

(currentVersion + 1) + "-dev|snapshot"

would make for current trunk

"0.2.7-dev|snapshot"

I coming from java so I am used to the "snapshot" but dev I like more ;)

[2013-08-13 20:20] scherler opened #66 "Enhance createQuery to allow to pass a json object on which the query is build on"
The current Client.createQuery() does not allow any options to be passed to, so I ended up writing a util module for it but I think it should go into this project.

[2013-08-15 22:26] #65 closed, assigned to nobody

[2013-08-15 22:29] #62 closed, assigned to nobody

[2013-08-15 22:34] #58 closed, assigned to nobody

[2013-08-15 22:51] #45 closed, assigned to nobody

[2013-08-19 18:52] #28 closed, assigned to nobody

[2013-08-23 17:19] ghost opened #68 "How can I set q.alt?"

[2013-08-23 17:41] #68 closed, assigned to nobody

[2013-09-20 09:01] jpuerto opened #69 "Allow to modify current query"
The current code don't allow us to modify the current 'q' parameter after building the query. For our use case, we define a base query and then filtering against new parameters. This is not possible with current implementation because the 'q' function just push a new value to parameters array.

I suggest to add the following extra methods:
- andQ(q): Add more terms to current query with 'AND' oper

[2013-09-25 10:58] jaceksocha opened #71 "Cutted _version_ field"
Currently search method returns data from SOLR which is parsed by JSON.parse(). Result of this parsing is truncated "_version_" field, because "_version_" occurs in solr as long type, which is parsing to int.
The solution of this bug may be an alternative parser to JSON.parse() (for example: https://npmjs.org/package/json-bigint)
or switch to return raw data (without parsing).

Is there any possib

[2013-10-04 12:20] #60 closed, assigned to nobody

[2013-10-11 19:16] thanigaiv opened #72 "xslt support?"
I would like to do some xslt transformation on the response from SOLR using the xslt support (wt=xslt). However, this means the response comes back in xml. any ideas  this response can be used in solr-node-client?

[2014-01-01 18:51] jochenonline opened #73 "Temporarily getting EADDRNOTAVAIL after many http.requests"
I am adding many documents to Solr (localhost). After round about 32000 documents Solr becomes unavailable from node.js. All `http.request` against Solr return `EADDRNOTAVAIL`. Requests from other clients (i.e. `curl http://localhost/solr/#/mycore`) work without any problems. After 5-10 seconds the requests from node.js work again also. After a while (mostly 15 seconds) the temporarily unavailabil

[2014-01-08 19:31] ning-tan opened #74 "support timeout on Solr http requests"
A cursory search of the code base doesn't reveal a way to specify a timeout (on the underlying HTTP request) going to Solr (except maybe one for a query?).

It would be beneficial if the end user can specify a timeout for any actions. Probably can pass this timeout down to the http request.

[2014-07-14 18:58] #73 closed, assigned to nobody

[2014-07-14 19:05] #72 closed, assigned to nobody

[2014-07-15 07:54] marc-portier opened #85 "make the solr connection params for tests configurable"
I'ld like to be able to run the npm test against the non default connection-params.
(namely I added a separate core of SOLR to test against)

I'm still pondering about making this only a test-configurable thing (thus some test/client-config.json combined with a wrapper for the client-create process for all test-cases - probably except those testing the create-factory-method) or make it a core feat

[2014-07-15 23:41] #44 closed, assigned to nobody

[2014-07-15 23:41] #51 closed, assigned to nobody

[2014-07-17 19:45] #40 closed, assigned to nobody

[2014-07-19 07:46] marc-portier opened #88 "Provide support for solr 4 real time get"
As mentioned here: https://wiki.apache.org/solr/RealTimeGet
According to the makers this essential solr4 feature makes the search engine useful, not only as an index, but as a nosql database (key-value-store if you like) too.

As far as I can see this would:
1. not need a configuration change to test/materials/solrconfig.xml (since the required updateLog is already there)
2. call for a new get(ids

[2014-07-19 13:19] marc-portier opened #89 "Add support for deep paging."
While working on #39 I noticed that the test/core-query-test needs completion still.

One of the [core-features](http://wiki.apache.org/solr/CommonQueryParameters) to include is support for deep-paging through [cursorMark](http://wiki.apache.org/solr/CommonQueryParameters#Deep_paging_with_cursorMark)
(As further explained in [this article](http://heliosearch.org/solr/paging-and-deep-paging/))

I t

[2014-07-21 10:10] marc-portier opened #90 "Support the indexing of unstructured (extracted) content from files (in solr known content-types)"
See http://wiki.apache.org/solr/ExtractingRequestHandler

/upload/extract can receive a multipart/formupload-ed file
Solr will extract the contents and index it under the 'text' field to be indexed.

Some interesting side-notes:
- Additional fields can be injected into the index by prefixing them with 'literal', providing a literal.id seems the minimal
- fmap.content=... allows to specify another

[2014-07-28 22:51] #43 closed, assigned to nobody

[2014-07-31 22:27] lbdremy opened #92 "Implement unit test Query.prototype.qt method"

[2014-07-31 22:29] lbdremy opened #93 "Implement unit test Query.prototype.rangeFilter"

[2014-07-31 22:31] lbdremy opened #94 "Implement unit test for Query.prototype.fl"
See coverage report, https://rawgit.com/lbdremy/ca8304efdf3695d25767/raw/5f346ae0eb4cbc3cccdd883b95ff73971355af03/coverage.html#error/solr-error.js, the current test does not cover when only a single field is passed as a string.

[2014-07-31 22:32] lbdremy opened #95 "Implement unit test for Query.prototype.edismax"

[2014-07-31 22:33] lbdremy opened #96 "Implement unit test for Query.prototype.qf"

[2014-07-31 22:34] lbdremy opened #97 "Implement unit test for Query.prototype.mm"

[2014-07-31 22:34] lbdremy opened #98 "Implement unit test for Query.prototype.pf"

[2014-07-31 22:34] lbdremy opened #99 "Implement unit test for Query.prototype.ps"

[2014-07-31 22:35] lbdremy opened #100 "Implement unit test for Query.prototype.qs"

[2014-07-31 22:35] lbdremy opened #101 "Implement unit test for Query.prototype.tie"

[2014-07-31 22:35] lbdremy opened #102 "Implement unit test for Query.prototype.bq"

[2014-07-31 22:36] lbdremy opened #103 "Implement unit test for Query.prototype.bf"

[2014-07-31 22:36] lbdremy opened #104 "Implement unit test for Query.prototype.boost"

[2014-07-31 22:37] lbdremy opened #105 "Implement unit test for Basic auth feature"

[2014-07-31 22:37] lbdremy opened #106 "Implement unit test for Client.prototype.spell"

[2014-07-31 22:39] lbdremy opened #107 "Implement unit tests covering errors case on the HTTP request and response."

[2014-08-09 18:48] csabapalfi opened #110 "HTTP POST for search(select)"
Would you be interested in adding POST support for search(select) as well?

This is to allow really long queries as Tomcat/Jetty limits URL length* by default**.

I'm happy to contribute some code as well. By the look of it it's a bad idea to extend Client.get as it always does GETs. Maybe a new method?

I also understand if you want to keep the module clean and not include something like this eve

[2014-08-12 22:39] mattcg opened #111 "No support for HTTPS"
Currently only connecting to clients over plain HTTP seems to be supported as `http.request` is used exclusively in the client library.

If this is indeed the case and I'm not mistaken, please let me know and I'll make a pull request to introduce support.

[2014-08-16 16:53] #38 closed, assigned to nobody

[2014-08-16 16:53] #71 closed, assigned to marc-portier

[2014-08-16 16:53] #85 closed, assigned to nobody

[2014-08-16 16:53] #88 closed, assigned to marc-portier

[2014-08-16 16:53] #89 closed, assigned to nobody

[2014-08-16 17:50] #111 closed, assigned to nobody

[2014-08-16 18:56] #74 closed, assigned to nobody

[2014-08-16 18:56] #54 closed, assigned to nobody

[2014-08-16 18:56] #30 closed, assigned to nobody

[2014-08-16 18:57] #27 closed, assigned to nobody

[2014-08-16 18:58] #39 closed, assigned to nobody

[2014-08-21 17:36] marc-portier opened #112 "Add support for field-specific facet params."
We already have query.facet(options) to build up the 'general' solr-facet request params.
However, many of those can also be overriden on a per field basis using the pattern:
- global param: facet.{paramname} =
- field-specific variant:  f.{fieldname}.facet.{paramname} = ...
  See https://wiki.apache.org/solr/SimpleFacetParameters#Parameters

I see a number of options to introduce this.
either emb

[2014-09-02 00:55] ryanwilliamquinn opened #114 "jsonbig doesn't seem to be as performant"
i'm parsing large json responses (about 50mb).  it works fine in 0.2.9, but in 0.3 it hangs on JSONbig.parse(text).  if i change that back to JSON.parse it works again.  maybe the answer is for me to get less data per batch, just thought i would let you know.

[2014-09-03 10:15] madept opened #115 "Sort does not work"
I am simply using a sort in following way

 var query = getMeasurement.createQuery()
                       .q({customerId:id+' AND type:measurements'})
                       .sort("creationDate desc")
                       .start(pageNumber*pageSize)
                       .rows(pageSize);

and on solr it is sending blank sort

[qtp621744031-12] INFO  org.apache.solr.core.SolrCore  – [collectio

[2014-09-03 11:49] #115 closed, assigned to nobody

[2014-09-14 17:12] #114 closed, assigned to nobody

[2014-09-16 11:22] NickNaso opened #116 "Hit highlighting"
Is it possible use hit highlighting functionalities with this solr client?

[2014-09-16 14:21] #116 closed, assigned to nobody

[2014-10-23 20:36] marc-portier opened #118 "range-filter queries should support exclusive boundaries"
The SOLR range-filter syntax allows variants that do not include the boundary values.

year:[2005 TO 2009] will match 2005, 2006, 2007, 2008, 2009
By using [inclusive with square brackets]: The boundaries are included.

year:{2005 TO 2009} will only match 2006, 2007, 2008
By using {exclusive with curly brackets}: The bounds are not included.

year:[2005 TO 2009} will match 2005, 2006, 2007, 2008
B

[2014-10-26 17:19] UdoGerhards opened #119 "Provide synchronized queries to Solr"
Hi there,

this is not an issue but more a suggestion to think about.

Would it be possible to provide synchronized methods for queries to a Solr-index? Just like "solrClient.search" but in a synchronized way.

I'm currently working on objects which should give data from the Solr-index back in their "valueOf"- and "toString"-methods, But currently I'm struggeling around in making the call to the S

[2014-12-03 15:19] ryanwilliamquinn opened #122 "Why are all of the query syntax characters escaped in match and range filters?"
Maybe I'm doing something stupid.  I want to make a range filter that looks like:

myFieldName: [1 to *]
or a match filter like:
myFieldName: (onevalue OR anothervalue)

This worked fine in 0.2.x, but now it it looks like these characters are escaped by the escapeSpecialChars function in format.js.  Now I get:

myFieldName: [1 to *]

Is this intentional?  Is there another way to accomplish what I'

[2014-12-03 19:48] #119 closed, assigned to nobody

[2014-12-07 16:16] #122 closed, assigned to nobody

[2014-12-17 01:39] dmgreene opened #124 "wildcard delete doesn't appear to be working"
Hi. If I try to delete everything just like the documentation describes, nothing gets deleted.  Here's my example:

// This example doesn't work. This is identical to the online documentation, except I have mongo ids
var query = "*"
client.delete("_id", query, {}, function(err, obj) {
     console.log("done")
}
// Note: "done" gets written to the console, however nothing was removed from SOLR

//

[2015-01-27 22:47] mfchiz opened #125 "Allow additional HTTP headers"
Websolr has a authentication approach that requires additional http headers added to the solr web request to enable per request authentication.  https://github.com/omc/websolr-guides/blob/master/websolr-advanced-auth.md

It would be helpful if you could add these headers to the configuration of the solr client like so:

//create security token headers for client
var headers = {
  'X-Websolr-Time'

[2015-02-04 11:38] csabapalfi commented on #110
Closing this now as https://github.com/lbdremy/solr-node-client/pull/121 does this.

[2015-02-04 11:38] #110 closed

[2015-02-04 17:39] cbollerud commented on #110
Is anything else needed for this pull request?

[2015-02-04 22:44] csabapalfi commented on #110
Not sure. I'm not a repo owner. I guess you can just ask @lbdremy in a comment on that PR.

[2015-02-24 21:08] julianlam opened #127 "Is `autoCommit` no longer an option?"
I was passing in `autoCommit` as an option to the `Client` object, but since upgrading to v0.5.0 from v0.2.9, I can't find any reference to "autoCommit" anywhere in the code except for the `/tests` folder.

Seems like a breaking change to me, and so its removal should have been logged in the migration steps :smile:

[2015-03-30 21:02] dmgreene commented on #90
Has there been any update on this? I'd love to use this feature in my code since I'm trying to index word documents in Solr.

[2015-03-30 21:42] marc-portier commented on #90
I had a (for me) working solution in this branch:
https://github.com/marc-portier/solr-node-client/tree/v0.3.x-patch90

you can test-drive that, and help discuss and/or fine-tune how this could be incorporated into the main branch.

Have to say my focus has shifted a bit since then - hope to be getting into it later again. Until then you have my blessing to tear apart my code :)

[2015-03-31 00:13] dmgreene commented on #90
Thank you so much @marc-portier for your quick response. I hope someone does pick up your code and bring it back into the baseline.  Personally, I'm still struggling with making a direct http call with update/extract. I can't seem to get solr to find the tika jars. :(  But anyway, that's neither here nor there. Thank you for directing me to your code. Once I get around the tika jars issue, I'll ch

[2015-04-20 07:34] woodenfish opened #130 "Query highlighting - 'hl' parameter support"
Do you plan to support the 'hl' query param? If you do,then when?

[2015-04-20 16:53] NickNaso opened #131 "Node.JS 0.12 Request error"
Hi,
when i use solr-node-client with node 0.12  i receive this error in response:
[code]
My call i as reported below:
[code]
The same code works perfectly with node 0.10.38.
Is there some issue with request?
Thanks in advance.

[2015-05-01 12:00] kamrankhan54 opened #132 "tests failing and not sure why"
i'm trying to run tests using my solr instance but tests are failing....

for example, 'Client#createQuery' is failing due to (i think) 'data' in first test returning null.

Here's the response from createClient-test (btw, this test passes) :

[code]

[2015-05-01 12:02] kamrankhan54 commented on #132
By the way, this is how I normally access my solr instance:

[code]

[2015-05-02 17:45] lbdremy opened #133 "/!\ Looking for maintainers /!\"
Hello,

I'm looking for people willing to maintain the module, i.e respond to issues, close issues, merge pull requests etc. The module has over 3500 downloads each month and it is growing, so you work will be used and appreciated for sure.

Thank you

[2015-05-06 13:09] marc-portier commented on #133
ah, case of bad timing
yes, I do want to keep my involvement and participate
no, I haven't got time the last 4-5 months, and it probably will not get better for another 4 or so...

[2015-05-20 05:22] KlwntSingh opened #134 "Updating documents in solr"
Hello,

I wanted to update the documents in solr and i have seen the update code in lib.js of solr-node-client so i just wanted example showing how to update the document.
Please Help!

Thanks

[2015-06-26 19:28] Bangsheng commented on #59
This would be a handsome feature. Has this feature already been implemented? I don't see any implementation of this feature in the source code.

[2015-07-03 20:00] ColadaFF commented on #134
That's easy.
You have to options, one is doing it by solr method.
The solr method is the same like indexing, the thing here is you need the id of the document you want to update, i.e: in your core you have a field name id that you set like:
[code]
So, with solr-client, your update will look like:
[code]
Solr will lookup for an Id and update the whole document if it finds it.
The other way you have

[2015-07-03 20:02] ColadaFF commented on #133
Hi there,
I would like to participate in this project.
Tell me what I need to do for that.

[2015-07-03 22:41] lbdremy commented on #133
Hello @ColadaFF,

Glad to hear that! It wouldl be nice to clean the issues by responding to people or by closing them if not relevant anymore. Also it would be nice to merge in all pull requests that seem good.

What do you think ?
I'm gonna make you a collaborator on this project so you can work on it.

[2015-07-04 10:50] #134 closed

[2015-07-21 04:55] ColadaFF commented on #131
Hi there,
Can you create a jsbin or something to reproduce the error ?
I just test you code and works fine.

[2015-07-21 04:57] ColadaFF commented on #127
autoCommit now only works as a functions, because multiple docs could be submitted but not committed at the same time.

-- Sure it needs to be.
In the next weeks the docs will be updated.

[2015-07-21 04:58] ColadaFF commented on #130
No, there is no plans for the hl query param, but of course you could submit a pull request. :D

[2015-07-21 04:59] #127 closed

[2015-07-21 05:03] ColadaFF commented on #133
Hello @lbdremy

I need to ask you something:

Could the test for the Node 0.8 version be removed ?
Because that ones always fail in the last  pull request - commits.

[2015-07-21 07:54] lbdremy commented on #133
Sure, maybe we should add v0.12 and remove v0.8.

[2015-07-23 14:46] gjs29 opened #138 "Are admin collection operations possible?"
As part of my use case for a Solr client for SolrCloud I'd like to create a collection using the admin collection APIs (https://cwiki.apache.org/confluence/display/solr/Collections+API). For example: /admin/collections?action=CREATE

Is there a way to administer collections using this client? The examples focus on search and indexing, so maybe it's beyond the scope of this client.

Thanks,
- Greg

[2015-07-25 18:16] ColadaFF commented on #138
Hi Greg,

Right now, this is beyong the scope of this client.

But you're welcome to submit a Pull request about that feature.

[2015-07-25 18:17] ColadaFF commented on #133
Test on 0.12 are working great, but I think we should update some docs and features for Solr 5+

What do you think?

[2015-07-27 07:44] lbdremy commented on #133
Sure the roadmap was something also those lines:

## Roadmap

### v0.3.x - v0.x.x

Test suite with mocha and chai instead of vows
Implement all features available in Solr 4 (SolrCloud API in particular) (Now Solr 5 I supposed)
Provide all low-level commands
Complete documentation

### v1.0.x

First stable version
the API is frozen until v2.0.x, only new features and bug fixes can be introduced

So

[2015-07-29 03:19] dschinkel opened #139 "createClient() param options"
Where are these params documented?   for example:

createClient('someServer', port, '', ...);

[2015-07-29 03:21] dschinkel commented on #139
I found it in your source code but can you please document it and make it obvious in the site docs.

[2015-07-29 08:07] #132 closed

[2015-07-29 09:44] lbdremy commented on #139
The documentation is available here http://lbdremy.github.io/solr-node-client/code/solr.js.html. The code is well documented with JSDoc so it is easy to get this kind of information.

[2015-07-29 09:44] #139 closed

[2015-07-29 14:21] dschinkel commented on #139
weird for some reason I didn't see that, thanks.

[2015-08-03 08:45] luketaverne commented on #133
Hey, I've been using this project recently and found it really helpful! Thanks for writing it.

I'd like to help contribute/ maintain as well. Let me know if there is anything else you want done.

[2015-08-03 09:25] lbdremy commented on #133
Thanks @luketaverne. Sure, you and @ColadaFF can collaborate to work this out. I'm gonna add as a contributor so you can close issues, merge pull requests, etc... if needed.

[2015-08-03 12:53] luketaverne commented on #69
I like this idea. It looks like the suggested modifications commit won't break any user's previous project. Is this something we can merge to the master branch now?

[2015-08-10 11:10] fractalf opened #142 "UPDATE_HANDLER & UPDATE_JSON_HANDLER"
The default handlers are defined in lib/solr.js in line 88.

The UPDATE_JSON_HANDLER doesn't work for our v4 solr server, so I made a quick fix:
https://github.com/fractalf/solr-node-client/commit/b9a38d64543a28386a4ea95182086d55c2c783be

However this is not compatible with v3.1, so a proper fix sould be applied. Or at least allow this to be passed as an option.

From the solr docs:
"In Solr4.0, J

[2015-08-10 18:21] luketaverne commented on #142
Good catch. It looks like this is also the case for Solr5.0. I'm currently downloading Solr3.1 so I can write and test something that works for both versions.

[2015-08-10 19:41] luketaverne commented on #142
@fractalf and @lbdremy, let me know if this looks good to you: 870ca7daa5a818a29fdeda464f0679813238efdb

I thought of adding a version number to the client constructor, but it seems a bit overkill to add it to the constructor. With this method, we can continue to provide (a reasonable amount of) backwards compatibility as Solr continues to change. Let me know what you think.

[2015-08-10 20:45] fractalf commented on #142
Works for me.

5 cents though:
It feels a bit overkill-ish. Maybe just passing an option and setting the value is good enough. I dunno, you decide ;)
[code]

[2015-08-11 14:09] #142 closed

[2015-08-11 14:48] luketaverne commented on #142
Apologies for all of the commit messages. Having some issues with sending pull requests from the correct branch :)

@fractalf I took your advice on the implementation. Your idea was better.

[2015-08-12 11:51] fractalf commented on #142
*thumbs-up* :)

[2015-08-26 07:39] nicolasembleton commented on #133
Just seeing that. Been using it a lot lately and making some updates. I could probably give a hand. Not sure to how much I can commit for now but I'll pay more attention to the issues and see if I can help there. (I will also open another ticket regarding some update I made I'd like to do a PR on)

[2015-08-26 08:10] nicolasembleton commented on #131
From what I can see your instance isn't available. If you access it from your browser with "http://localhost:8983/solr" do you have something? Are you using on windows or *nix?

[2015-08-26 08:44] nicolasembleton commented on #125
That's something easy to do I think. Is it still a need? Anyone else needing this feature?

[2015-08-26 08:46] nicolasembleton commented on #133
Could we setup a Trello board to list the backlog and allow the users to vote on features too? That'd make it really easy to know what the users really want/need. (but would be redundant with GitHub issues, I agree). https://www.zenhub.io/ would be nice but users can't vote.

[2015-08-26 10:54] lbdremy commented on #133
Hi @nicolasembleton, sure go head a Trello board can be a good idea.

I'm going to add you as a contributor so you can work on this repo.

[2015-08-26 21:12] luketaverne commented on #130
Added support here for all query highlighting parameters listen in the Solr v5.0 docs. Will test it tomorrow morning/ afternoon, then pull it in if no-one objects.

3847c9de326d99cec15e967135150f092b1a0d6c

[2015-08-26 21:18] luketaverne commented on #124
This looks old, but I'll take a look at it with Solr 5 this week and post an update.

[2015-08-27 09:23] #130 closed

[2015-09-01 09:05] nicolasembleton commented on #133
If anyone wants to join and add features there: https://trello.com/b/xCBvFQSe/solr-client-board
@ColadaFF @lbdremy @luketaverne
I'll be adding features and things over time. We can then provide voting abilities.

[2015-09-01 09:08] luketaverne commented on #133
I just made an account. Can you add me to the group or whatever? Seems like
a better place to put feature requests. And I'll add what I'm working on to
the list.

Thanks!

On Tue, Sep 1, 2015 at 11:05 AM, nicolasembleton <notifications@github.com>
wrote:

[2015-09-01 09:14] nicolasembleton commented on #131
@NickNaso Are you still facing the issue? Were anyone able to reproduce it? It looks like an environment problem to me. I'd like to close this issue if no one objects (@Nick mainly).

[2015-09-01 09:15] nicolasembleton commented on #138
@luketaverne Are you working on this?

[2015-09-01 09:15] nicolasembleton commented on #138
I think it'd be a nice feature to have though. But like @ColadaFF said, it feels outside the scope of this client...

[2015-09-01 09:16] nicolasembleton commented on #125
@mfchiz Still a need for you?

[2015-09-01 09:20] nicolasembleton commented on #112
@marc-portier That sounds like a good feature to add indeed... Would you mind adding those 3 stories (one per point) to the trello board?: https://trello.com/b/xCBvFQSe/solr-client-board
We'll prioritize them.

Also if you have some real life example of how you guys are doing it (are you?) and how you'd implement them to feed the thoughts. Would be nice.

[2015-09-01 09:21] luketaverne commented on #138
As we speak :). I'll post a commit by the end of the day to see what you
and @lbdremy think before I write too much.
On Sep 1, 2015 11:15 AM, "nicolasembleton" <notifications@github.com> wrote:

[2015-09-01 09:22] nicolasembleton commented on #133
Yes sure. I've just added '@luketaverne' since I suppose it's you :)
Thanks.

[2015-09-01 09:24] nicolasembleton commented on #138
Awesome. Thanks @luketaverne. The Trello card: https://trello.com/c/U1y3Rvf3/3-epic-admin-collection-operations
But I've left it open to breaking it down as it feels like a big story. So if you can refine the scope of what you're working on on this card or a new one.
Thanks.

[2015-09-01 10:17] luketaverne commented on #138
@nicolasembleton @lbdremy So here is my implementation. I haven't had time to test it yet, so there might be some bugs, but I'd appreciate it if you could take a look at the overall idea of the implementation before I keep working, ie if having the separate collections.js file is a good idea, if the change to solr.js makes sense (it's kind of a band-aid fix, I don't like it), and if I'm going abou

[2015-09-01 10:32] nicolasembleton commented on #138
Very nice.

So the process would be to create a collection, pass params to create() and then ask the client.admin(createCollection, cb).

I'm wondering if it couldn't be the other way around? Passing the client to the collection handler? And then the create() would do the .get() request?

[code]

[2015-09-01 11:11] luketaverne commented on #138
Yeah that's the process. I thought to follow the process the library currently uses for query. You create a client, create a query, then pass the query to the client's search() method with a callback. It seems like it might easier for users to follow the same workflow for both search() and admin().

I thought about having the create() method call get() automatically, but that prevents the user fro

[2015-09-01 11:49] NickNaso commented on #131
Ok close this issue. Sorry form my delay but i was busy in this period. Yes it's an environment problem when i reinstalled and setted all on other machine all seems work fine. Thanks everyone.

[2015-09-01 11:49] #131 closed

[2015-09-01 15:33] nicolasembleton commented on #131
No problem. Thanks for the feedback.

[2015-09-02 09:26] luketaverne commented on #138
Latest commit here: c78d50570b1d6e76793b0ceddccbfa220ec90fdc.

Added all features from the [Solr 5 Collections Wiki](https://cwiki.apache.org/confluence/display/solr/Collections+API).

The workflow is now as follows:
[code]

I'm a little dissatisfied with the naming scheme of `client.createCollection()` and `collection.create()`. I'm concerned that people will think that `client.createCollection()

[2015-09-03 03:41] nicolasembleton commented on #138
Very nice work. I was trying to find all the commits related to this area but couldn't find it for some reason? Is it in a branch or on your fork?

Regardless, very nice job... Reading through your example, everything makes sense, but I agree with your point that there might be confusion. Maybe we could introduce the 'Manager' keyword? 'createCollectionManager()' or something like that? It's a bit

[2015-09-03 07:55] luketaverne commented on #138
It's a branch called 'admin-collections' on my fork. I hesitate to create anything directly on the main project for fear that I'll mess something up :).

Maybe we just use `client.collection()`, and then in the cleanup we change the query one to `client.query()` as well? Or just add that right now, so users can start to switch, then in the 1.0 release we can remove the `client.createQuery()`? Then

[2015-09-03 09:20] nicolasembleton commented on #138
```Maybe we just use client.collection(), and then in the cleanup we change the query one to client.query() as well? Or just add that right now, so users can start to switch, then in the 1.0 release we can remove the client.createQuery()? Then we have room for client.core() and others. ```

That sounds like a good plan. We should start planning for 0.6 and include those things. And add the mention

[2015-09-07 08:56] luketaverne commented on #138
Added in f31e843f11e968f13732663299ed1cade4aff835 and several previous commits. Didn't think to squash them before the merge. If another contributor is better at git and wants to squash all of them into one commit, be my guest, I can't make it work around the merge :(

[2015-09-07 08:56] #138 closed

[2015-09-07 16:59] nicolasembleton commented on #138
Actually @luketaverne I think you should do a pull request. I'm not sure why your commits don't show as such. Doing a pull request will automatically clean the commit history.

[2015-09-07 17:02] luketaverne commented on #138
I think it's too late, I already pushed directly to this repo. I'll do a PR next time. Figured it didn't really make a difference with contributors. Sorry about that.

[2015-09-07 18:58] nicolasembleton commented on #138
Haha. Yes. It's too late now. No worries @luketaverne . Continuous improvement :)

[2015-09-08 12:15] luketaverne commented on #124
So this bug is still valid. Line 320 in lib/solr.js is:

`query : field + ':' + format.escapeSpecialChars(text)`

I removed the escapeSpecialChars just for testing and the delete statement still doesn't work with `*`. Also tried with a specific ID, also returns success but the document remains. Investigating further.

[2015-09-09 10:14] dbanka opened #145 "Not working for string with multiple words"
Using  solr node client when I searched using query ' cateogory:Trade' , the search worked.But when I searched for 'category:Trade Flow' , its returning 400 Bad request.But I checked the query directly in solr,it works there, so what is the problem here?

[2015-09-09 10:57] luketaverne commented on #145
I tried this in my own Solr 5.0 installation (with fields that are defined in my schema), and the multiple word strings return a success response.

Can you post the code in question and the version of Solr you are using?

[2015-09-09 11:08] dbanka commented on #145
Its solved now. I encoded the string before sending ,now its working

[2015-09-09 11:08] #145 closed

[2015-09-09 11:12] luketaverne commented on #145
I was able to submit the query without encoding the string first. The solr-client does its own encoding, in most cases, before submitting the query to Solr. Whitespaces are definitely supposed to be encoded by the library.

[2015-09-09 11:31] dbanka commented on #145
client.search('q=category_name:*' + query , function (err, obj) { })
This was the code, when I sent query without encoding, it didn't work

[2015-09-09 11:44] luketaverne commented on #145
Ah okay, so this is the problem. The recommended method for constructing queries is:

[code]

[2015-09-10 10:00] Persata commented on #124
I've been using the current version from NPM (0.5.0) along with Solr 5.3 and while the wildcard delete doesn't work, I've found that using ``deleteByQuery`` can do the same job (I've Promisified the client using [Bluebird](https://github.com/petkaantonov/bluebird/blob/master/API.md#promisepromisifyallobject-target--object-options---object), hence the Promise syntax):

[code]

Also, if I remove the

[2015-09-10 13:02] dbanka commented on #145
but I didn't find a way to add facet.pivot, thats why I was using the old way

[2015-09-11 08:54] nicolasembleton commented on #145
You can just use it like category:"Trade Flow" to make it work. Or
category:("Trade Flow" OR "Something Else"). Wouldn't that work?

On Thu, Sep 10, 2015 at 8:02 PM Deepak Banka <notifications@github.com>
wrote:

[2015-09-11 10:17] dbanka commented on #145
Now the issue is closed, I am able to search with multiple words..My only problem now is that I am unable to add "facet.pivot" query with the new format .
I tried something like  : query.facet({'pivot':'category_id'}) . It didn't work and I didn't find anything on it in the documentation.

[2015-09-14 03:50] nicolasembleton commented on #145
Hehe. Right. For some reason I jumped one communication.
Actually you're right. Facet.pivot isn't supported. I'll open a new ticket for that.

[2015-09-14 03:53] nicolasembleton opened #146 "Facet.pivot isn't supported"
Following the discussion thread here https://github.com/lbdremy/solr-node-client/issues/145, we realized that this part from Solr Documentation isn't supported:

[code]

[2015-09-14 04:00] nicolasembleton opened #147 "Facet.{field}.interval.* isn't supported"
This part of the documentation isn't supported:

[code]

[2015-09-14 04:02] nicolasembleton commented on #133
@lbdremy How can we push a new version to NPM? How would that work? We intend to release 0.6 this week (and clean-up the road-map towards 1.0 through a communication).

[2015-09-14 08:03] lbdremy commented on #133
I suppose I can add you as a collaborator of the npm package so you can push the new version. I haven't  followed the development during the last couple weeks, it seems that was really active, that's really cool :).
When I publish a new version I try to add examples of the new features then I update the docs on gh-pages branch. I will work on the CONTRIBUTING.md tonight, I will add the command lin

[2015-09-14 08:06] lbdremy commented on #133
By the way what is your npm username ? It seems your github username is not your npm username.

[2015-09-14 08:20] nicolasembleton commented on #133
Noted. Thanks for the quick feedback. Sorry for NPM, I don't know why I had an account with `nembleton` but I've changed it to `nicolasembleton` to be more consistent. So you can use a similar one to github.
Wrt the commit guidelines, I've seen your comment somewhere and I agree we should try to stick to that. Indeed makes the release note much easier.
And yes, definitely adding documentation. It'

[2015-09-14 08:41] lbdremy commented on #133
No worries, you are now a collaborator of the solr-client module on npm. :)
Sure about the style guideline, jscs, semver you can open a issue and we can discuss.

Generally when I contribute to a module I tend to stick with the style of the codebase to keep the codebase consistent since the style does not really matter to me until it is consistent.
I like semver, it is quite simple and easy to und

[2015-09-15 11:36] nicolasembleton commented on #133
Thanks. All good. Will work on preparing 0.6 (and further) and start the convos on GitHub for the other topics.

[2015-09-21 17:13] nicolasembleton opened #148 "0.6 Release"
Hi everyone. Preparing 0.6 release.

Is there anything special or anything that should be included into this new release?

@lbdremy @ColadaFF @kfitzgerald @luketaverne please chime in for those.

[2015-09-22 01:45] godong9 commented on #12
I implement this feature and pull request. But, CI fail because "solrconfig.xml" isn't change. Please check and reply. Best regards.

[2015-09-22 11:14] luketaverne commented on #148
We can include the admin collections as a "beta"/ "dev" feature.

I should write the tests for the query-highlighting features before the release too. Perhaps I'll work on that tonight. (Currently having trouble getting Solr to run properly on my Macbook, IRC channel members are stumped).

What's the status of the Docker build system? We'll need that to eventually enable the test on the admin-coll

[2015-09-23 20:03] nicolasembleton commented on #148
Wrt the Docker-build system It's in process, docker system is built and I'm writing the test runner, but I'm having issues to make it platform agnostic. Also had a few personal sidetracks. I'll have it done by October. But we can't have it for 0.6.

I'll work on those document and commit guideline if you guys don't mind. I'm for following @lbdremy and use Angular's which is pretty clean. Will upda

[2015-09-24 10:10] luketaverne commented on #148
Cool! That will be a really nice tool for the project to have. Good work.

Sounds good wrt following Angular. I don't really have a preference of commit style at this point, so if you guys are happy with it, I'm happy with it.

I just added and merged this (PR)[https://github.com/lbdremy/solr-node-client/pull/150] to add query highlighting test, following Angular style. Everything passing.

Is the

[2015-09-24 11:52] luketaverne commented on #148
Unsure if I mentioned this elsewhere. Should we update the runtime and dev dependencies before the 0.6 release? The list is [here](https://gemnasium.com/lbdremy/solr-node-client). The items needing updates are:

-JSONStream
-request
-bignumber.js
-chai
-mocha

Mocha and chai should probably be updated together.

[2015-09-24 23:45] nicolasembleton commented on #148
Very good idea. Will check up on that too and see if the tests are still properly passing.

Got it for the other points. Thanks for the feedback. I think we are good to go. :)
Working on the items mentioned above. ETA somewhere around Sunday or Monday for a final review.

[2015-09-28 13:29] luketaverne commented on #124
@Persata Cool, thanks for the help! I'll look into it some more with this info.

[2015-09-29 01:32] nicolasembleton commented on #148
As a heads-up, on my side i'm:
* Done with updating the package.json and tests accordingly,
* Done with working Docker setup (used it for testing) - not fully integrating with `npm test` yet,
* Currently digging into updating files `CONTRIBUTIONS.md` - and the commit guidelines, and `gh-pages` documentation as well as GitHub `readme.md`.

With regards to the doc, I'll try to bring it up-to-date bu

[2015-10-05 15:24] #106 closed

[2015-10-08 12:10] nicolasembleton commented on #148
Guys, sorry for the delay. Just started a new work so I had little free time.

I've merged the PR and pushed a 0.6 release: https://github.com/lbdremy/solr-node-client/releases/tag/v0.6.0

@luketaverne @kfitzgerald @ColadaFF @lbdremy If you guys have time, would you mind checking up the release at that version? It should work fine but I'd like to make sure before releasing.

@lbdremy I can't find

[2015-10-08 12:18] nicolasembleton commented on #148
Oh. I think I forgot to update the Package.json version number -_-. Dumb. Will fix that.

[2015-10-08 13:03] luketaverne commented on #148
I pulled it over to the project I'm currently developing at work (from github directly). Everything seems to work as it did before the changes. Nice work!

[2015-10-09 04:28] nicolasembleton commented on #148
Thanks @luketaverne . @lbdremy Finally found the way to push. :) So NPM was updated to 0.6.0 (`0.6.0 is the latest of 23 releases`)

[2015-10-09 04:28] #148 closed

[2015-10-09 04:29] nicolasembleton commented on #146
Pushed in v0.6.0.

[2015-10-09 04:29] #146 closed

[2015-10-12 23:55] tylercollier commented on #73
Thanks @jochenonline. `agent: false` worked for me.

[2015-10-13 18:12] abhijeetd1 opened #157 "split support for nested JSON indexing"
Is there a way to make update call to /update/json/docs and also pass split as query parameter.

I have added a nested JSON with /split  using cURL command. looking for a way to do the same thing here.

The pattern will looks like below

/update/json/docs?split=/

[2015-10-13 18:27] luketaverne commented on #157
According to [this Solr wiki link](https://cwiki.apache.org/confluence/display/solr/Uploading+Data+with+Index+Handlers#UploadingDatawithIndexHandlers-JSONUpdateConveniencePaths), you can use either /update/json/docs or /update/json. At the moment, our library uses /update/json. I would recommend testing your cURL command against this path first.

At the moment we don't have support for adding cust

[2015-10-14 00:03] abhijeetd1 commented on #157
Thanks for the input.
"split" field in query parameter did not work with /update/json. However,  /update/json/docs worked in all cases for me. For now I have modified the parameter in update function to /update/json/docs.

I agree we should perhaps provide flexibility to add custom parameters to set the value of UPDATE_JSON_HANDLER to either "/update" or /update/json or /update/json/docs

[2015-10-14 04:36] nicolasembleton commented on #157
I like this thing you guys are talking about.

```I agree we should perhaps provide flexibility to add custom parameters to set the value of UPDATE_JSON_HANDLER to either "/update" or /update/json or /update/json/docs```

What would be the conditions with which we would select the URLs? @abhijeetd1

[2015-10-21 04:57] ColadaFF opened #158 "Query.matchFilter for multiiple Values"
Query.prototype.matchFilter should check if the value passed to the function is an array and then add the correct parser to the uri query, like:
[code]

[2015-10-23 09:02] #93 closed

[2015-10-25 01:28] fmmsilva opened #160 "Not working with Solr 5.3.1"
I got the following error:
[code]

[2015-10-25 06:05] ColadaFF commented on #160
It seems like you didn't add a core settings.
Could you add your current configuration?

[2015-10-25 06:09] fmmsilva commented on #160
But how do I pass the core to the node client?

[2015-10-25 06:44] nicolasembleton commented on #160
In the options you pass when creating the solrClient, pass core: 'mycore'
and you'll have setup the client to use the right core.
On Oct 25, 2015 1:09 PM, "Felipe Mendonça Marques Silva" <
notifications@github.com> wrote:

[2015-10-25 07:14] ColadaFF commented on #160
Take a look at this:
[code]
Also, you should check: http://lbdremy.github.io/solr-node-client, There you can find an examples section where you can check all the features provided by this client.

[2015-11-02 10:22] luketaverne opened #162 "Support Node.js 5.0"
Recent update introduced some breaking changes. Changes listed in the Node project changelog [here](https://github.com/nodejs/node/blob/master/CHANGELOG.md).

[2015-11-11 14:50] luketaverne commented on #160
Problem solved, closing.

[2015-11-11 14:50] #160 closed

[2015-11-12 23:17] joshterrill opened #164 "client.add has 3 parameters and 404 error?"
I'm using `solr-node-client` in an express app. According to the documentation I should be able to do something like this:
[code]

However I get an error that says
`{"error":{"name":"SolrError","message":"Not Found\r\nRequest URL: http://127.0.0.1:8983/solr/update/json?&wt=json\r\nRequest method: POST\r\nStatus code: 404 - Not Found\r\nRequest headers: \r\ncontent-type: application/json; charset=u

[2015-11-13 09:00] luketaverne commented on #164
The problem might be stemming from not specifying the core when you create the Client object.

```var client = solr.createClient({core: 'gettingstarted'});```

Let me know if that fixes it. If this is the case, I'll work on updating the documentation to better reflect this requirement.

[2015-11-13 23:29] joshterrill commented on #164
If you check out the rest of the issue, I noted that I created the client object that takes in options that define the core. And now when I do a `client.add()` the returning object isn't doing anything.

[2015-11-15 14:18] luketaverne commented on #164
Apologies. I didn't realize you included that, as it wasn't written in the standard way that I gave in my previous response. I've actually never seen anyone write it that way before. Why is the `host` variable involved, and what does that represent?

What version of Solr are you using? In a semi-recent update (Solr 4.0?), the json update URL changed from /update/json to simply /update. We recently

[2015-11-16 11:24] misterdai commented on #124
Could be a silly question, but just in case..., I noticed that there isn't any mention of "commit" in the comments for this issue.  I didn't click that the `client.delete` method supports options to set the type of commit for the deletion.  If you don't set anything (and depending on your Solr set up), the record you're trying to delete won't be removed.

Tried out:
[code]
And it works perfectly f

[2015-11-16 21:01] joshterrill commented on #164
The reason why I put that host variable there is because when I was looking at the implementation of how the actual app references `Client`, it uses it. https://github.com/lbdremy/solr-node-client/blob/master/lib/solr.js#L49-L61

However, I'll try defining it with just core and the version number later today when I can get back to work on it.

[2015-11-16 21:11] luketaverne commented on #164
Ah okay. I can explain this. The code in question is below, for quick reference.

[code]

So what this means is when the function `createClient()` is called, we check to see what type of variable the first argument, `host`, is. If it is an object, then we're calling `createClient()` with the format `createClient({core:'gettingstarted', port: 8728,...})`. This function only has one parameter as an

[2015-12-01 08:00] ChannyAzar commented on #115
How can I sort by geodist?
Following is not working:
`.sort({'geodist()' : 'asc' })`

[2015-12-01 08:09] luketaverne commented on #115
Hi,

I don't have access to my computer for another day or two, but maybe this
will help you in the meantime.

According to this [page](
https://cwiki.apache.org/confluence/display/solr/Spatial+Search), you can
do something like "&q=*:*&fq={!geofilt sfield=store}&pt=45.15,-93.85&d=5"

If you can't get the fq part using our function, you can manually add
components to the URL using another function

[2015-12-01 09:22] ChannyAzar commented on #115
Thanks. We succeeded in another way.

[2015-12-01 09:25] luketaverne commented on #115
Would you mind posting an example here? It might help someone else in the
future, and we can also consider adding new features to the package.
On Dec 1, 2015 10:22 AM, "ChannyAzar" <notifications@github.com> wrote:

[2015-12-01 11:04] ChannyAzar commented on #115
Yes, sure.
[code]
Will be very useful to have the `fq`, `pt`, `d` and `sfield` API functions.
I think `pt` it's a very basic function that not already present, we had to switch to custom code.
Also, took to us long time to find this alternative, there is not enough documentation for the `set` function.
We switched from another library, there we can easily use those functions:
[code]

[2015-12-03 08:41] #66 closed

[2015-12-03 15:09] flawless2011 opened #165 "cursorMark not uri encoded"
Currently the value passed into Query.prototype.cursorMark() does not get uri encoded prior to attaching to the parameters array.  If characters like + or = are included in the nextCursorMark values from Solr (which they can be) the request will fail like this:

{"name":"SolrError","message":"{\"responseHeader\":{\"status\":400,\"QTime\":2,\"params\":{\"sort\":\"indexTime desc,rk desc\",\"q\":\"fi

[2015-12-04 16:59] #165 closed

[2015-12-14 23:10] vaishalibhatkar commented on #146
I have downloaded the  solr 0.6.0 & trying to use solr pivot.
here is  my sample query
 var query = client.createQuery()
            .q({ 'feed_type':'UNCATEGORIZEDITEM' })
            .start(0)
            .rows(10)
            .facet({pivot:'batch_id,item_status'});
in the response i am not getting getting facet_pivot object.
facet_counts:
   { facet_queries: {},
     facet_fields: {},
     face

[2015-12-15 22:50] vaishalibhatkar opened #167 "solr facet pivot not working"
I have downloaded the solr 0.6.0 & trying to use solr pivot.
here is my sample query
var query = client.createQuery()
.q({ 'feed_type':'UNCATEGORIZEDITEM' })
.start(0)
.rows(10)
.facet({pivot:'batch_id,item_status'});
in the response i am not getting getting facet_pivot object.
facet_counts:
{ facet_queries: {},
facet_fields: {},
facet_dates: {},
facet_ranges: {},
facet_intervals: {} } }

please h

[2016-01-11 11:08] cressie176 opened #169 "Is the solr client stateless?"
Should I cache an instance of the client returned by solr.createClient or create a new client per operation?

[2016-01-12 15:02] ColadaFF commented on #169
You can create an instance and use then wherever you want.

For example, in my project I have an instance that waits for the core name and the others params, then I export them and require then in the files that I needed, like:

[code]

Then, in the file that I need to, I require this and instance it, so, it will be an instance per core, and use it as I want to:

[code]

[2016-01-12 15:15] cressie176 commented on #169
Thanks

[2016-01-12 15:15] #169 closed

[2016-01-28 07:30] zhoulaosan0 opened #173 "why don't include / to specialChars"
in solr-node-client/blob/master/lib/utils/format.js file

[code]

this method could cause eof exception

[2016-03-08 06:15] niravpatel2008 opened #179 "Complex RegEx Query not working"
I have application in php using solarium lib i am able to query like below but now i am moving to node.js and i using this client library but i could not able to query like below.

`fq=TAGS:fq=TAGS:(((/.*Nurses? ?([-\/:'\|\\ ]).*/ OR \"Nurses\")))`

is there any way to execute this type of complete query ?

it seems there is issue in uri encoding as solr server gives error like:

{"responseHeader"

[2016-03-08 07:54] godong9 opened #180 "Complex 'mm' query is not encoded"
Complex 'mm' query like '3<–1 5<4 7<–30%' is not working because not encoded.

I tested that '3<–1 5<4 7<–30%' is encoded, query is working.

[2016-03-26 07:48] niravpatel2008 opened #181 "Large query does not work."
I have used post method by setting get_max_request_entity_size value to 0 get large IN query but it does not work.

[2016-03-26 08:57] niravpatel2008 commented on #181
Resolved by changing below code in /lib/solr.js

LINE 653:
[code]

Replaced with:

[code]

[2016-04-05 21:28] bhaveshbhatkar opened #182 "Problem with dynamic solr sort query"
I am using this node.j client & i have a sample query here
 var query = client.createQuery()
            .q(created_dtm:[2016-04-04T20:42:01.482Z TO 2016-04-05T20:42:01.482Z] })
            .start(start)
            .rows(50)
            .sort({created_dtm : desc });
        client.search(query,function(err,data){
if i hard code the sort column name & sort order then it works,
but my sort column n

[2016-04-06 06:22] rajeshpanwar opened #183 "how to create Core in solr?"
I am new in solr. I want to manage solr core using solr apis. How can i manage (create core) using this?

[2016-04-24 04:29] ColadaFF commented on #183
Hi there,

At the time of writing this is out of the scope of the project, but you are welcome to submit a pull request for the feature, what I can do is point you to this [docs](https://cwiki.apache.org/confluence/display/solr/CoreAdmin+API) in solr about creation cores using https requests.

[2016-04-24 04:43] ColadaFF commented on #182
Hi there,

What I'm seen here is probably a problem with object key assignation, this is what a I mean:
if you have:
[code]

If you can create a variable and do that, there you have your solution, but if don't and want to make it un runtime, you can use [lodash set method](https://lodash.com/docs#set), and your code can be like this:

[code]

[2016-04-24 04:45] #182 closed

[2016-04-24 04:50] ColadaFF commented on #162
Hi Luke,

Can you point out what breaking changes may affect the projects?

With that we could make a roadmap to support node v5 and probably start a new version that also support solr 6.

[2016-04-30 03:03] samjeyam opened #185 "passing cert via agent in createClient()"
I am trying to use a self signed ca via agent option in the createClient(), but in vain.

This is a self signed cert (as sampled here: https://cwiki.apache.org/confluence/display/solr/Enabling+SSL)

snippet of what I am trying to do is here:

[code]

I don't see any tests associated with it in createClient(), which  makes me think whether cert supported via createClient or am I doing something inc

[2016-04-30 03:31] samjeyam commented on #185
I am trying to reach my local server directly instead via a simple  `https.request()` - let me confirm whether its an issue on my server first.

[2016-04-30 03:56] samjeyam commented on #185
never mind guys - every works like a charm!

[code]

[2016-04-30 03:56] #185 closed

[2016-06-01 10:50] brijesh27 opened #186 "Solr instance auto restarting in solr cloud mode"
Hi,

1. I am running solr cloud with 6 solr instances having version solr5.2.1 and 3 zookeeper (3.4.7)

2.  I have 2 questions regarding solr cloud :

    How can i run solr cloud on port 80 smooothly, i have tried to run it but when i restart it gives me some exception , after doing some work i found that " ps aux | grep solr" its showing me the - -DSTOP.PORT= -920 , -920 port is nothing actually

[2016-06-27 20:35] drewpotter opened #187 "Does this work with MongoDB?"
Hello,

Strange question, does this work with MongoDB as well as more conventional databases?

I have found out how to connect Solr with MongoDB using this; http://blog.mongodb.org/post/29127828146/introducing-mongo-connector

But I want to perform the search in Node.js using your npm module, does this make sense?

Any help would be appreciated.

[2016-06-27 20:43] ColadaFF commented on #187
Hi there,

I don't think I understand your question well, so let's see:

MongoConnector works as a sink from MongoDB to another datasources, the workflow works as follow:
[MongoDB CRUD Operations] -------> [MongoConnector intercept the operation] ------> [MongoConnector use a custom sink function to pump to another datasource] -----> [Solr Index the document] (For example if your source is solr).

[2016-06-27 21:50] drewpotter commented on #187
Cool, thanks. That is what I wanted to know.

So I can use both together, each doing a different thing. You see I am used to Rails with Sunspot which connects to Solr and takes care of everything, when you are using a normal Database. Only I wanted to try MongoDB.

Thanks for your response!

[2016-06-28 14:39] #187 closed

[2016-06-29 17:56] nathanmarks commented on #183
@ColadaFF open to a PR that implements the full set of CoreAdmin API commands? (or the start of the full set!)

[2016-06-29 18:01] ColadaFF commented on #183
Maybe we can start a discussion about this.

[2016-06-29 21:07] nathanmarks commented on #183
@ColadaFF 100%

Are there any reasons (other than maintenance concerns) that you have against implementing the core admin API functionality?

For those of us not using SolrCloud -- we don't have collections, just cores. As it stands I can only get part of the functionality I need from the library, right now my options are to:

A) Fork + PR
B) Fork
C) Implement those calls separately.

I'd much rat

[2016-06-30 03:16] nicolasembleton commented on #183
That sounds like a great proposition @Nathan.

The historical reason for a block to that API is that this library was
designed to be a "Query client", not an "Admin client". But I'd say that
can't hurt. So I think a PR is definitely welcome.

On Thu, Jun 30, 2016 at 4:07 AM Nathan <notifications@github.com> wrote:

[2016-06-30 12:48] nathanmarks commented on #183
@nicolasembleton Awesome, I'll put something together soon!

[2016-07-07 08:20] ajdaniel opened #188 "Include functionality for Managed Resources"
[Managed resources](https://cwiki.apache.org/confluence/display/solr/Managed+Resources) allow us to use a Web API to make some modifications to a schema for certain filter types after configuration, such as synonyms and stop words.

It would be very nice if we can expose that functionality via solr-node-client.

[2016-07-08 03:13] nicolasembleton commented on #188
Thanks @ajdaniel. Will look into it.

[2016-07-08 03:16] nicolasembleton commented on #186
@brijesh27 I don't think that's a solr-node-client related question. Would you mind going to Solr groups to ask that question?
Am closing this issue for now. Let me know if that's still solr-node-client related question and I'll re-open it.

[2016-07-08 03:16] #186 closed

[2016-07-08 03:38] nicolasembleton commented on #181
Thanks @niravpatel2008. Will see to fix it in the code. Which version have you ran that on?

[2016-07-08 03:38] #181 closed

[2016-07-14 18:55] mrlannigan opened #189 "Update npm to latest version"
Published version with npm is at 0.6.0 which is based on 41a9b5e.

This commit is before f93e0ee69c543c079d59229b686efe645ff39e93, which contains a fix for the facet pivot addition.

Can we get an updated version to npm?

[2016-07-15 01:09] nicolasembleton commented on #189
Yes. Good point. Will do now I have some more time.

[2016-08-12 09:38] luketaverne commented on #189
Also going to start working on this package again.

[2016-08-12 13:40] mrlannigan commented on #189
@luketaverne this would be amazing. Thanks! If you guys need help let me know.

[2016-08-27 09:41] captainjackrana opened #190 "Multiple instances of client"
I have a user facing application where people make searches on a particular collection.
How is the multi-request connection handled. Should i be creating new client instances on every request?

[2016-08-27 19:19] ColadaFF commented on #190
Not at all, remember that this client uses HTTP for comunication, so, one instance per core should be fine.
The thing I would be careful of is that solr has a number of searchers by default, so if a lot of clients are searching at the same time, you could get an exception response from solr.

You can read more about it here: [SolrDocs](https://cwiki.apache.org/confluence/display/solr/Query+Setting

[2016-10-12 20:24] sudowork commented on #189
@nicolasembleton Would also appreciate a new version being published. Was excited for the feature in 0.6.0 to allow POST requests for large requests; however, I noticed that the query params  were being included in both the body and the URI still, causing 414 errors. Seems like 2a57e78 fixes the issue, but hasn't been published yet. Thanks!

[2016-10-13 07:03] nicolasembleton commented on #189
Yes this one is very long overdue... Thanks for the reminder. Will try to
push it over the weekend.

On Thu, Oct 13, 2016 at 3:24 AM Kevin Gao <notifications@github.com> wrote:

[2016-10-13 08:22] sudowork commented on #189
Awesome, really appreciate it! Have a great one.

[2016-11-14 08:38] zhangxin1995 opened #192 "I have a question about delta dataimport"
Hello,
 I have a solr server working with mysql,  i want to when i add a data into mysql, i can update the solr server in time.But i can't find any api that work on it. If there any thing i omit? what can i do?

Thank you very much.

[2016-11-29 15:58] smashercosmo commented on #189
@nicolasembleton any luck with cutting new release?)) I'm mostly interested in https://github.com/lbdremy/solr-node-client/pull/172 This is very critical bug fix. Would be glad to provide any help if needed.

[2016-11-30 09:10] smashercosmo commented on #189
@nicolasembleton @lbdremy any response on this?

[2016-11-30 09:15] nicolasembleton commented on #189
I'll make it done by this weekend! Can't delay that any longer.

On Wed, Nov 30, 2016 at 4:10 PM smashercosmo <notifications@github.com>
wrote:

[2016-11-30 10:06] fbuchinger commented on #124
One year later I'm still bitten by the same bug when deleting documents on Solr 6.3. `delete('id','*')` does not work, `deleteByQuery('id:*')` works. Costed me a day of testing. Can somebody submit a PR or should I do it?

[2016-11-30 10:07] nicolasembleton commented on #124
Please submit one if you can. With testing. I'll push a new version this
weekend with some other long overdue critical bugs.

On Wed, Nov 30, 2016 at 5:06 PM fbuchinger <notifications@github.com> wrote:

[2016-12-02 05:14] aulsai opened #193 "client.search() with much long parameters resulted by POST:: BAD REQUEST"
I've been using client.search() with so long parameters,

**Expected result**
then I expected from client.search() that it would be changed to http verb POST with successfully result.

**Observed result**
BAD REQUEST, Because URL is too long.

Note: I've found an issue in **solr-client@0.6.0** **BUT** I have seen in the master that this issue had been fixed by the commit 492937bee165418405ba1bb972

[2016-12-05 19:51] nicolasembleton commented on #189
@smashercosmo Would you mind making tests pointing your NPM directly to this commit: https://github.com/lbdremy/solr-node-client/commit/dcf31c201a8f1a1c9b26f4ec2c5600156e0b33f5 ? Just to make sure everything works fine.

[2016-12-05 20:14] nicolasembleton commented on #189
Release note, let me know guys if I have missed anything:

[code]

[2016-12-05 22:07] smashercosmo commented on #189
@nicolasembleton awesome, thx. I'll test on wednesday.

[2016-12-21 17:21] lebolo commented on #189
@nicolasembleton @luketaverne any chance of publishing the latest code to npm? Particularly interested in the pivot fix.

[2016-12-21 17:37] nicolasembleton commented on #189
Hi Luis,

Would you mind testing the latest commit? It's ready to push but need
someone to do double testing before I can push. If it works fine, I'll push
it over the weekend.

Thanks,
Nicolas.

On Thu, Dec 22, 2016 at 12:22 AM Luis Lebolo <notifications@github.com>
wrote:

[2017-03-07 23:27] sudowork commented on #189
@nicolasembleton, Any luck on getting the next version published?

[2017-03-17 16:24] nfriedly opened #195 "Support for proxy servers?"
There doesn't appear to be any way to use `solr-client` with the connection tunneled through a http proxy, which would be a helpful feature for some users.

I notice that it uses `request` for one or two connections, but Node's built-in `http` library for the majority of things. `request` has [built-in proxy support](https://github.com/request/request#proxies) (and it can even be [configured with

[2017-03-17 18:44] nfriedly commented on #195
Per https://github.com/watson-developer-cloud/node-sdk/issues/421#issuecomment-287428644, it sounds like just switching in `request` for `http`/`https` will work.

[2017-03-27 17:26] jaarandaz opened #197 "Some special characters on request aren't accepted by tomcat"
I'm using Tomcat ver 7.0.52.0 and it is failing when accesing to

/solr/unience/select?q=best&defType=dismax&qf=s_name^1.3%20s_shortName^1.4%20s_isin^1.5%20s_managementCompany^1.2&start=0&rows=10&wt=json

but it works when accessing to

/solr/unience/select?q=best&defType=dismax&qf=s_name%5E1.3%20s_shortName%5E1.4%20s_isin%5E1.5%20s_managementCompany%5E1.2&start=0&rows=10&wt=json

Is there any con

[2017-03-30 07:38] TaoZhou opened #198 "cursorMark contains a whitespace"
Hi guys,

I am using solr-6.2.1 and got the following error:
{"status":"400","message":"Error from server at http://searchnode01:30000/solr/empty: Unable to parse 'cursorMark' after totem: value must either be '*' or the 'nextCursorMark' returned by a previous search: AoIIO6vS D8Ob3Blbl90ZXh0I2NvbmZpcm1pdC11cy1wMzA4MjY5NjQwMC01OTU2LTY4OTgy"}

I found it has a whitespace in it.
And i tried to encod

[2017-04-21 21:15] ministrycrm commented on #189
Would be great to get another release to address https://nodesecurity.io/advisories/309 in the latest merge to master.

[2017-04-22 04:53] nicolasembleton commented on #189
Excellent point. Very important one... I should have time next week to push
a new version including the latest PRs.

On Sat, Apr 22, 2017 at 4:15 AM ministrycrm <notifications@github.com>
wrote:

[2017-04-24 15:21] cliftonc opened #201 "Is this project maintained?"
Is this library maintained?  Would you consider adding other maintainers to get things moving again?

We use it heavily, and really don't want to have to fork it to get PRs etc. merged.

[2017-04-24 15:51] nicolasembleton commented on #201
It's a good question. Short answer is `partially`. I have had way less time than necessary to update the library although I'd love to. There is a release pending but been lacking testing.
However, adding a new maintainer would be absolutely welcome, so if you want to be one of them @cliftonc we should ask @lbdremy .
Meanwhile, I've committed to push a release this week to deploy all the past PRs a

[2017-04-24 15:58] cliftonc commented on #201
Ok - rest assured I understand the challenges of keeping something like this ticking along, really appreciate all the effort you're putting in.

I'd be happy to dedicate some engineering time from my company to help (not sure it would be me directly).  We have a number of our own projects that we maintain so would be happy to explore ways to contribute back given how much use we make of this.

Hap

[2017-04-24 16:01] nicolasembleton commented on #201
Perfect. Appreciate the effort! Would you guys be ready to help testing that things still work correctly right before I push the new release?

[2017-04-24 16:03] cliftonc commented on #201
Yes, happy to.

[2017-04-24 16:05] nicolasembleton commented on #201
Awesome. Thank you. That should be soon this week.

With regards to adding you as a committer, only @lbdremy can do that so I'll see if we can have him do it. He seldom stops around as he's moved away for his own thing quite a while ago. But @lbdremy if you read this, please add @cliftonc to the list of committers.

[2017-04-24 16:12] cliftonc commented on #201
Great - I have @loveirobert lined up this side to put the new version in our biggest app using it and test: https://www.tes.com/resources/search/.

[2017-04-24 16:15] nicolasembleton commented on #201
Massive! Thanks guys. Will keep you posted.

[2017-04-24 16:23] loveirobert commented on #201
@nicolasembleton thanks for helping us! I'm waiting for your notification.

[2017-05-01 12:43] nicolasembleton commented on #201
Hi guys, going to have a release ready for testing in a few hours. Will keep you posted.

[2017-05-03 13:03] loveirobert commented on #201
@nicolasembleton will do the upgrade on our end and test

[2017-05-03 13:19] nicolasembleton commented on #201
Thanks. @loveirobert , the newer 0.7.0 package can be found in that branch: https://github.com/lbdremy/solr-node-client/tree/v0.7.0-test
If the tests are successful I'll merge it to Master and create a reselase

[2017-05-03 13:20] loveirobert commented on #201
@nicolasembleton i'll notify you about the results

[2017-05-03 13:25] lbdremy commented on #201
Hi guys, I just sent an invite to you @cliftonc and @loveirobert

[2017-05-10 09:53] loveirobert commented on #201
@nicolasembleton @cliftonc @lbdremy
All our tests are green with v0.7.0-test and we don't see any performance issues.

[2017-05-10 10:08] nicolasembleton commented on #201
Perfect. Thanks guys. Am traveling atm but will push 0.7.0 early next week.
Now you're in you can do it too if you want ;). Either way works for me.

On Wed, May 10, 2017, 09:53 Róbert Lövei <notifications@github.com> wrote:

[2017-05-19 09:36] aartiles commented on #201
Hi,
Any ETA for the 0.7 release? We have some packages failing to pass the Node Security tests due to this vulnerability on the v0.6.0 https://nodesecurity.io/advisories/309

[2017-05-19 09:57] nicolasembleton commented on #201
Let me do it now. Came back yesterday so can do it.

On Fri, May 19, 2017 at 4:36 PM Alfredo Artiles <notifications@github.com>
wrote:

[2017-05-19 10:04] nicolasembleton commented on #201
There you go: https://github.com/lbdremy/solr-node-client/releases/tag/v0.7.0

[2017-05-19 10:04] #201 closed

[2017-05-19 10:10] nicolasembleton commented on #193
Yes. I've just pushed the latest version that fixes that. Please check it out on NPM. I'm closing it for now, if you still have issues, don't hesitate to reopen it.

[2017-05-19 10:10] #193 closed

[2017-05-19 10:13] aartiles commented on #201
Excellent, thanks guys!

[2017-05-19 10:40] nicolasembleton commented on #197
Yeah, it's the only characted that isn't being encoded because of this library: https://github.com/Gozala/querystring/blob/master/encode.js#L49
And that the '^' character is being used as the equal character for stringification: https://github.com/lbdremy/solr-node-client/blob/master/lib/query.js#L588

To have it %5E-ed, you'll need to replace that '^' everywhere in the code to '%5E'. I suppose th

[2017-06-05 14:34] gilking opened #203 "Does it support Stats Component?"
Does it support Stats Component?
https://cwiki.apache.org/confluence/display/solr/The+Stats+Component
I can't find anything about stats Component...

[2017-06-06 10:38] ovus00 commented on #167
Did you manage to solve this ? I came across the same problem and tried the solrVersion as initialisation parameter

`solr.createClient({
    solrVersion: '6.5'
})`

but that didn't work either. Any suggestions?

[2017-07-20 13:00] StlthyLee opened #204 "[Question] working with multiple cores"
I've just stumbled across solr-node-client while looking for information on how to perform deletes by ID in Solr.

So far it looks like solr-node-client could actually help with all interactions with Solr in our application where I work. However after reading through the docs it isn't clear to me how you would go about targeting a specific core unless I've missed something.

Say for instance I had

[2017-07-20 13:31] StlthyLee commented on #204
no need to worry about this, I found the answer by accident :)

[2017-07-20 13:34] nicolasembleton commented on #204
Post it here so others can find it too ;)

On Thu, Jul 20, 2017, 22:31 Lee Richmond <notifications@github.com> wrote:

[2017-07-20 13:38] StlthyLee commented on #204
The answer is actually here:
https://github.com/lbdremy/solr-node-client/issues/169

[2017-07-20 14:00] #204 closed

[2017-09-03 14:37] ankitkhedekar opened #205 "atomicUpdate does not reflect in the document immediately"
I am trying to update a solr document using `atomicUpdate` , it does not give me any error but when I check it from the solr admin panel I still see that the document has the old value. It reflects the new value only after manually reloading the core.
I am also setting the `autoCommit `flag on the solr client as `true`

Want to know of the possible mistakes in my approach.

[2017-09-08 23:10] thatbudakguy commented on #205
I think this is just `autoCommit` not working - see #127 . I'm having similar problems with all my `update()` calls.

The response on that issue was:

But I don't understand what that means. Is there some other way to use autoCommit? The only places I see it used are in the examples.

[2017-09-14 23:45] yatszhash commented on #195
I implemented nifriedly's idea on [my branch](https://github.com/yatszhash/solr-node-client/tree/support_proxy).
 It works via proxy.
If there isn't any reason to use http or https module instead of request module, I want to send a pull request after adding tests and formting the code.

[2017-09-17 06:38] nicolasembleton commented on #195
Please do @yatszhash. Always useful and welcomed.

[2017-10-10 00:35] CBox commented on #59
Is this feature available?

[2017-11-10 23:39] josuehd commented on #197
yeah, I'm having the same issue using tomcat 7.0.76

[2017-11-22 20:55] CBox commented on #59
For the ones who using Cassandra + Solr, you can use the solr_query to fetch results.

[2017-12-05 23:13] charuag opened #209 "Does it support solr version 6.6.4?"
I'm getting error on deleteAll function after upgrading to solr 6.6.4. Also version.js doesn't seem to be supporting solr 6.

[2017-12-07 14:19] manigk commented on #127
I have same problem Client.autoCommit() not working, i'm using solr-cloud 5.5.2 and node v5.0.0.
please give solution.

[2017-12-07 14:20] manigk commented on #205
I have same problem Client.autoCommit() not working, i'm using solr-cloud 5.5.2 and node v5.0.0.
please give solution.

[2018-02-16 18:54] drgrey87 commented on #167
@ovus00 ```Try `solr.createClient({ solrVersion: 5 `})``

[2018-02-26 09:32] pawanpatil08 opened #211 "How can we check solar is connected or not?"
I want to show two HTML pages using node js route
1. if solar is connected then show index.html or
2. if solar is not connected then show error.html
plz help me

[2018-03-16 13:30] prasadh13 commented on #198
I am facing the same issue. Were you able to fix it @TaoZhou

[2018-03-19 15:25] chriskali opened #212 "Edit default path of request handler"
Hi there,

Currently I am working on Atomic Updates of Solr Documents.
Our Solr Configuration defines that the path of the UPDATE Request-Handler (qt) has to be:
`http://localhost:8983/solr/fsptest/update?update.chain=partial`

so I need to change the default value from _**update**_ to _**update?update.chain=partial**_
There is no parameter to handle this in the `createClient() `function.

What is

[2018-03-27 14:29] tommituura opened #213 "Option to allow for self-signed https certificates"
Hi, would it be hard to specify in solrClient options that while this connection is 'secure: true' it also allows for self-signed certificates? I have a local test / dev environment which uses those (because we want to keep as close a parity to staging / production environment as possible) and it would be very helpful if I could define this kind of thing with environment variable. Thanks!

[2018-03-27 14:41] tommituura commented on #213
Ok, nevermind. setting `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";` in my code (with correct guards of course) fixed this. Found this here: https://stackoverflow.com/a/21961005/1889463

[2018-03-27 14:41] #213 closed

[2018-04-13 15:47] CBox opened #214 "Can I use few connections?"
Hey,

I'm using DSE with few search nodes (solr) is it possible to add few hosts / connections?

Thanks

[2018-05-18 19:37] ministrycrm opened #216 "NSP Issue"
https://nodesecurity.io/advisories/664
solr-client@0.7.0 > request@2.81.0 > stringstream@0.0.6

[2018-09-25 09:44] rishabhsixfeet opened #217 "Creating a client using multiple Zookeeper URL"
Hi i have solr cloud with zookeeper setup
we use python to connect to solr  using zookeper URLs
import pysolr
pysolr.ZooKeeper.CLUSTER_STATE = '/collections/articles_collection/state.json'
zookeeper = pysolr.ZooKeeper("zookeperURL1:2181, zookeeperURL2:2181, zookeeperURL3:2181")
solr = pysolr.SolrCloud(zookeeper, "articles_collection",timeout=10)

is it possible to create a node solr-client with th

[2018-10-02 06:03] instkffff opened #218 "SolrError when search"
SolrError
    at IncomingMessage.<anonymous> (/home/NodeBB-1.10.1/node_modules/solr-client/lib/solr.js:991:19)
    at emitNone (events.js:111:20)
    at IncomingMessage.emit (events.js:208:7)
    at endReadableNT (_stream_readable.js:1064:12)
    at _combinedTickCallback (internal/process/next_tick.js:139:11)
    at process._tickCallback (internal/process/next_tick.js:181:9)

how can i solve it.

[2018-10-05 15:30] snotmare opened #219 "Port should be optional"
In our environment, we have an http host for solr so we don't need to provide the IP/port when connecting.  If I leave the port out of the config...
[code]
...solr will default to port 8983 in solr.js line 88...
`port : options.port || '8983',`

I would pass in an empty string, but the typings in index.d.ts require the port to be numeric...
[code]

My only option right now is to comment out line 8

[2019-04-28 09:08] jiangyan33 opened #221 "error information return"
source code
[code]
error information is in htmlMessage,
res.statusMessage just is "bad request"

[2019-06-11 09:55] dharls36 opened #222 "mincount not behaving as expected when matchFilter value contains a space"
I have the following as part of my query script;

[code]

[2019-07-16 14:35] julianlam commented on #197
FWIW, still seeing this with tomcat 9.0.16-3~18.04.1 (Ubuntu)

[2020-01-14 07:50] rashadkk commented on #205
autoCommit not working it seems

[2020-01-14 07:55] rashadkk commented on #205
autoCommit is not working it seems.

But we can commit the changes after update as below
`client.commit()`

[2020-02-20 12:57] PrashantRajput159 opened #224 "how to spellcheck with query??"
below is my query:

var objQuery = client.createQuery();

[code]

how to implement spellcheck with this query?

I checked this file for function
https://github.com/lbdremy/solr-node-client/blob/master/lib/query.js

spellcheck function is not available here (which is available in another module solr-node == https://github.com/godong9/solr-node/blob/master/lib/query.js)

I want to use your plugin be

[2020-03-18 01:35] ballabusta opened #226 "Add document with multivalued fields"
Hello,

Could you please advise on how multivalued fields are handled ?
I'd like to add this type of document to my solr index.

Thanks!

[2020-03-25 18:27] nbaosullivan commented on #219
I ran into this as well, when using Solr as a service and have provided a pull request that offers a solution: set port to `0` if you want it ignored (when running into this I tried to specify 80 did not work as expected, but that was because I was using https *facepalm* so my actuall solution was just setting port to 443!).

[2020-10-05 04:42] Poonam-Vijaywargiya opened #230 "Vulnerability in json-biginit"
Prototype pollution in json-bigint npm package < 1.0.0 may lead to a denial-of-service (DoS) attack.

[CVE-2020-8237](https://www.whitesourcesoftware.com/vulnerability-database/CVE-2020-8237).

[2020-10-07 11:54] alishah730 commented on #217
its been long

[2020-12-29 14:55] kibertoad commented on #133
@lbdremy Do you still need people for the project?

[2020-12-30 17:42] lbdremy commented on #133
Hi @kibertoad ,
Sure always looking for maintainers, there is no maintainer really active at the moment.

[2020-12-30 17:55] kibertoad commented on #133
@lbdremy Awesome! I'm wrapping up the majority of things I wanted to do with `knex` in the nearby future, and wouldn't mind working on another OSS Node project after that.
Things I've been thinking about:
1) Migration from Travis to GitHub Actions (Travis was slow for quite a while, and their support for OSS is steadily dwindling);
2) Migration from `request` (deprecated) into `undici` (fastest HT

[2020-12-30 17:58] julianlam commented on #133
`request` being deprecated doesn't mean it isn't maintained, it just means it's feature complete. I don't actually know if there are security vulnerabilities, but I imagine if there were I would've heard about them.

Additionally, I can't imagine `request` would have a bottleneck larger than the http request itself :thinking:

[2020-12-30 18:02] kibertoad commented on #133
@julianlam request's maintainer explicitly encouraged people to move on and stop using request:
[code]
(https://github.com/request/request/issues/3142)

`undici` literally has three times the throughtput of `http`-based client. Check the benchmark: https://github.com/nodejs/undici
And having that in mind, why settle for something less performant, if it's possible to use the best-in-class solution?

[2020-12-30 18:04] julianlam commented on #133
@kibertoad You definitely can :smile: honestly I haven't been doing much as maintainer at all, so you're offering much more than I ever have :wink:

That said, I still use request-promise-native, which gets around the "old patterns" issue.

[2020-12-30 18:09] kibertoad commented on #133
So if there are no objections, I can start with GitHub Actions migration and Docker-based tests, that will speed up iteration for remaining items.
What's the main communication channel for discussing changes? Should I use gitter or something else?

[2020-12-30 18:39] lbdremy commented on #133
Your plan looks good @kibertoad , I have added as contributor on this repo and on npm for the package solr-client.

For the test suite, there is a section here https://github.com/lbdremy/solr-node-client#test, with info to run the test suite.
On travis a Solr instance is setup before the test suite is run , see https://github.com/lbdremy/solr-node-client/blob/master/.travis.yml.

Regarding the roa

[2020-12-30 18:41] kibertoad commented on #133
@lbdremy Thanks!
Trying to run tests on Docker solr image, no success so far. Does `solr-node-client` only support up to Solr 4.x? The oldest Docker image is for 5.x.
I see that the setup shell script is posting some example documents after starting the solr, where can I find them?

[2020-12-30 19:28] kibertoad opened #232 "Docker-based tests"
Replace dependency on manually run local Solr instance with pre-provided Docker setup.

[2020-12-30 19:29] kibertoad commented on #232
Mostly got it working. Remaining issue that I have is that it's rather tricky to use existing schema.xml for a Docker instance, a more viable approach would be adjusting schema programmatically by using Solr Schema API. However, it doesn't look like `solr-node-client` currently supports that, so I'd need to implement it first.

[2020-12-30 19:32] kibertoad commented on #133
Do we still want to support Node 6 and 8? They were deprecated long time ago, and even Node 10 is going to be deprecated fairly soon.

[2020-12-31 13:34] #232 closed

[2020-12-31 17:35] #230 closed

[2020-12-31 17:37] kibertoad commented on #209
Sorry for late reply, but yes! It works fine with Solr 4-8.
PR to add new entries into version.js would be most welcome!

[2020-12-31 17:37] #209 closed

[2020-12-31 17:37] #189 closed

[2020-12-31 17:37] #162 closed

[2020-12-31 17:59] kibertoad commented on #230
Released in 0.8.0

[2020-12-31 17:59] kibertoad commented on #173
Released in 0.8.0

[2020-12-31 17:59] #173 closed

[2020-12-31 18:00] kibertoad commented on #219
Released in 0.8.0

[2020-12-31 18:00] #219 closed

[2021-06-16 13:07] cunum opened #242 "qt query param is not working when handleSelect on the requestDispatcher config is not set"
In the Java implementation SolrJ you can set the select handler with the qt param even when handleSelect on the requestDispatcher config is not set, in this library it is not working, qt param doesn't work.

I propose to also implement this by changing the hardcoded value ("select") of the SELECT_HANDLER variable in solr.js to the qt param (if set).

[2021-06-24 05:41] rudolfbyker commented on #125
I also need this, but for totally different reasons. I also see some issues on here that request other tweaks like using a proxy. I think the best approach would be to make the request pluggable, allowing the user to provide their own instance of `http`, `https`, `request` or `axios`.

[2021-06-24 06:05] rudolfbyker commented on #195
I think the best approach would be to make the request back end pluggable, allowing the user to provide their own instance of `http`, `https`, `request` or `axios`.

Also, the maintainers of `request` seem to prefer that we stop using it, although this may be interpreted differently: https://github.com/request/request/issues/3142

[2021-06-24 06:36] rudolfbyker commented on #133
My colleague https://github.com/singularcitrus and I are using the for a big project, and could help maintain this. Things we would be interesting in specifically in the short term:

- Convert entire module and tests to Typescript.
- Separate unit tests (testing pure functions) from e2e tests (testing with a runner solr instance in docker)
- Make it easier to manipulate requests before sending (us

[2021-06-24 07:07] rudolfbyker opened #243 "Bug: Accept header is not sent when using basic authorization"
In the `getJSON` function, which currently looks like this

[code]

the accept header is thrown away if `params.authorization` contains something. To make this clearer, here is an equivalent, refactored version:

[code]

A quick fix would be to change this

[code]

into this

[code]

But it looks like the whole `getJSON` function is actually a bit clunky and can be rewritten much neater. There is

[2021-06-24 08:14] lbdremy commented on #133
Hi @rudolfbyker and @singularcitrus,

- Convert entire module and tests to Typescript could be a good idea, may able to find some types bugs.
- Separate unit tests (testing pure functions) from e2e tests (testing with a runner solr instance in docker), sure why not
- Make it easier to manipulate requests before sending (using a pre-request callback or by making the request back end pluggable someh

[2021-06-24 08:21] rudolfbyker commented on #133
Yes please! :)

If you have time, we would like your feedback instead of running away with your project. If you don't have time, I also don't mind making independent decisions rather than waiting for feedback.

How many contributors are there currently? Who's in charge?

[2021-06-24 08:24] kibertoad commented on #133
I was pretty busy lately, but happy to participate in design discussions.

[2021-06-24 08:25] #243 closed

[2021-06-24 08:41] lbdremy commented on #133
@rudolfbyker invitation sent, sure I can give feedback :) .

There is a lot of contributors, but really few active, pretty much depends of collaborators availability.

[2021-06-24 12:12] kibertoad opened #251 "Replace Bluebird with native Promises"
Bluebird is no longer necessary when using modern Node.js, and still using it results in unpredictable performance spikes.
We should replace it with native Promises.

[2021-06-24 12:13] kibertoad opened #252 "Replace request with undici"
We should replace deprecated `request` with `undici`, which is **by far** the fastest HTTP client out there. See benchmarks: https://nodejs.medium.com/introducing-undici-4-1e321243e007

[2021-06-24 12:14] kibertoad opened #253 "Migrate to TypeScript"
We ought to migrate to TypeScript to benefit from type-checking.

[2021-06-25 06:56] rudolfbyker commented on #252
It might be useful to do this simultaneously with https://github.com/lbdremy/solr-node-client/issues/251 because the node http module is where most of our callback entanglement lies.

[2021-06-25 07:01] kibertoad commented on #252
@rudolfbyker Makes sense!

[2021-08-30 13:58] #253 closed

[2021-08-30 14:47] rudolfbyker opened #282 "Using dynamic `require` instead of `import` in tests hides typescript errors."
The tests use `require('...')` to import from the library, and it's using a dynamically calculated variable from the environment to determine the path. This is hiding a lot of Typescript errors that currently exist in the tests.

[2021-08-30 14:49] kibertoad commented on #282
Good one!

[2021-08-30 15:10] rudolfbyker commented on #282
I have a feeling we should replace ALL `require`s with `import`s, and remove `'@typescript-eslint/no-var-requires': 'off',` from the eslint config.

[2021-08-30 15:24] kibertoad opened #284 "Wrap requests in promises when callback is not set"
This is a common pattern for libraries that support both callback-based and promise-based APIs. Current promisify-based approach does not provide proper typings.

[2021-08-30 15:26] rudolfbyker commented on #284
Alternative idea: Get rid of callbacks entirely, and write nice async functions. It's easier/cleaner to wrap an async function to make it work with callbacks than the other way around.

[2021-08-30 15:26] kibertoad opened #285 "Update migration guide"
Considering that some of the public methods (such as `client.get`) were removed, we need to update https://github.com/lbdremy/solr-node-client/blob/master/UPGRADING.md with instructions for migrating.

[2021-08-30 15:32] kibertoad commented on #284
Checked how undici does it, and yeah, it seems to have dropped callbacks as well.
Sure, let's do that then.
Let's combine move to async with move to axios or superagent then (request doesn't support promises and is deprecated anyway)

[2021-08-30 15:33] #284 closed

[2021-08-30 15:36] kibertoad opened #286 "Replace callback-based API with promise-based async functions"
Replace Request with superagent (which is faster: https://github.com/fdesjardins/node-http-client-bench) or axios (which is more popular) for promise support.

Undici is an even faster option (x2-x3 speed-up), but since it does not rely on `http` module, it would break nock-based mocks if users had any, which makes me hesitant.

[2021-08-30 16:32] kibertoad commented on #282
Yes, we definitely should.

[2021-08-31 07:52] rudolfbyker commented on #286
x2-x3 speedup in what sense? The biggest time consumers are always sending / waiting for / receiving the network response.

[2021-08-31 08:21] rudolfbyker commented on #286
I would prefer axios, because I favour maintainability. Having a well-known / popular package is better in that regard. I don't have much time left to work on this repo this month.

[2021-08-31 08:28] rudolfbyker commented on #286
This issue replaces https://github.com/lbdremy/solr-node-client/issues/252

[2021-08-31 08:28] rudolfbyker commented on #252
Replaced by https://github.com/lbdremy/solr-node-client/issues/286

[2021-08-31 08:28] #252 closed

[2021-08-31 08:30] rudolfbyker commented on #286
This issue replaces https://github.com/lbdremy/solr-node-client/issues/251 , too!

[2021-08-31 08:30] rudolfbyker commented on #251
Replaced by https://github.com/lbdremy/solr-node-client/issues/286

[2021-08-31 08:30] #251 closed

[2021-08-31 08:31] kibertoad commented on #286
@rudolfbyker See https://www.youtube.com/watch?v=tr057sP4VBM for more details on Undici and overall deep-dive into HTTP client performance.
Well, superagent is also a well-supported and popular library, we are talking 4 million weekly downloads vs 15 millions weekly downloads, so both of them are very mature and popular.

See https://github.com/fdesjardins/node-http-client-bench for (somewhat outd

[2021-08-31 08:32] #282 closed

[2021-08-31 08:34] rudolfbyker commented on #286
I'm not concerned with breaking changes. We are moving towards the first major release, so I think we should be relentless. If we had a big software house backing the project, that would be a different story.

I'll check out undici and get back to you. I need to get this done today.

[2021-08-31 09:20] rudolfbyker commented on #286
OK, I see the advantage for situations where you have many small requests in a short time span. Like when doing autocomplete queries.

[2021-08-31 09:42] rudolfbyker commented on #286
FYI https://github.com/nodejs/undici/issues/1011

[2021-08-31 09:55] rudolfbyker commented on #286
- Undici does not support providing a custom HTTP agent. So we will have to drop that. (If I understand correctly from the, Undici IS an HTTP agent? But I'm confused about that.)

[2021-08-31 10:01] kibertoad commented on #286
@rudolfbyker Yes, more or less. Since it does not use `http` Node module (it is more low-level than that), it does not support an `http` Agent either.

[2021-08-31 10:10] rudolfbyker commented on #286
Let's also get rid of the custom error types and let Undici just do its thing. Extending errors in JS is problematic at best, and so we should not force this on users of our library.

[2021-08-31 10:13] kibertoad commented on #286
Yeah, fair.

[2021-08-31 10:37] rudolfbyker commented on #286
I'm a bit stuck on refactoring the `createAddStream` method. I'm not quite sure what it's supposed to do, or how to refactor the "duplexing".

[2021-08-31 10:46] kibertoad commented on #286
@rudolfbyker It's a way to create a large amount of documents in bulk. Imagine that you have a billion of DB entries that you want indexes. What you might want to do is read them from DB as a stream and keep indexing them as you go.
I'm not sure you need to refactor much there, just replacing underlying Request call with Undici call should suffice. This is one case where still exposing a callback

[2021-08-31 10:49] rudolfbyker commented on #286
I've never worked with streams in JS before, so I'm having a hard time wrapping my head around this. Should I be using undici.stream or unidici.pipeline?

[2021-08-31 10:58] kibertoad commented on #286
@rudolfbyker I don't think you strictly _need_ to use either, original implementation just takes a plain simple Request call and wraps a Duplex (which writes to request and reads from response).
Now if you would use `undici.pipeline`, it should do all that job for you, `Dispatcher.pipeline` should create exactly the kind of Duplexer that we create ourselves now.
I would recommend against refactori

[2021-08-31 11:04] rudolfbyker commented on #286
The thumbs up was to say that I agree with the approach in principle, but I have been at this for a long time now, and can't get it to work. Do you have time to look into refactoring the `createAddStream` function specifically? It could even be a separate PR on its own, while everything else still uses `requests`.

[2021-08-31 11:07] kibertoad commented on #286
Sure, I'll take a look. Can you push your branch?

[2021-08-31 11:11] rudolfbyker commented on #286
https://github.com/lbdremy/solr-node-client/compare/issue-286-promises

[2021-08-31 11:13] rudolfbyker commented on #286
I will have to stop work for today, as I'm starting to feel unwell. Thanks for the great collaboration!

[2021-08-31 11:21] kibertoad commented on #286
@rudolfbyker Please feel better soon!
I'll try to take it over from here. Thank you, it's fun :)

[2021-08-31 11:22] kibertoad commented on #286
@rudolfbyker I assume you didn't get simple Undici requests to work either yet?

[2021-08-31 11:55] rudolfbyker commented on #286
I did. They are easier. but I did not push them, as they were only half
done. They were not completed yet because it causes a huge cascade of
refactoring everything to use promises, which I did not have time to
complete.

On Tue, 31 Aug 2021, 13:22 Igor Savin, ***@***.***> wrote:

[2021-08-31 11:55] rudolfbyker commented on #286
And thanks!

On Tue, 31 Aug 2021, 13:55 Rudolf Byker, ***@***.***> wrote:

[2021-08-31 11:56] kibertoad commented on #286
ok, I'll avoid touching those parts yet and focus only on streams

[2021-08-31 12:00] rudolfbyker commented on #286
No worries. You can go ahead and refractor everything you want. I will
probably be able to work on this again in about two weeks.

On Tue, 31 Aug 2021, 13:56 Igor Savin, ***@***.***> wrote:

[2021-08-31 12:01] kibertoad commented on #286
can you push your half-done changes as well then?

[2021-08-31 12:03] rudolfbyker commented on #286
I can do that later today. I'm not at my workstation right now.

On Tue, 31 Aug 2021, 14:01 Igor Savin, ***@***.***> wrote:

[2021-08-31 12:04] kibertoad commented on #286
thanks!

[2021-09-01 05:39] rudolfbyker commented on #286
Sorry for the delay. Pushed now. See commit messages for details.

[2021-09-07 05:34] rudolfbyker commented on #286
I'm going to take another stab at this, if you haven't started.

[2021-09-07 06:18] kibertoad commented on #286
not yet :). thanks!

[2021-09-07 08:37] rudolfbyker commented on #286
OK, that's all I have time for now.

[2021-09-07 08:55] kibertoad commented on #286
Thank you! Hopefully will be able to continue the subject this week.

[2021-09-29 06:55] kibertoad commented on #133
@lbdremy Any chance you could add @AlinaKul as a maintainer? She is responsible for search functionality in our team and already contributed sizable amount of her time improving solr-node-client, and likely to keep doing that :)

[2021-09-29 07:02] kibertoad commented on #286
@rudolfbyker I will still add test for streaming functionality, and @AlinaKul will update the tests. Is there anything else left beyond that?

[2021-09-29 07:07] rudolfbyker commented on #286
I cannot remember. You will have to dive into this. Not sure when I will have time to continue with this one.

[2021-09-29 07:10] kibertoad commented on #286
@rudolfbyker Gotcha, will do! Thank you for the incredible work you've done on this!

[2021-09-29 08:10] lbdremy commented on #133
hello @kibertoad , sure I have sent an invitation to @AlinaKul to join the team !

Thanks for your work :)

[2021-09-29 11:46] kibertoad commented on #133
Thank you, Remy!

[2021-10-10 20:08] melloware opened #293 "Build Issue: 0.10.0-RC8"
I have a Create React App and trying to use v 0.10.8 I get these compile issues: https://github.com/nodejs/undici/discussions/1057

If I back up to your 0.9.0 version everything works fine.

[code]

when I try `npm run build` i am getting this different error

[code]

[2021-10-19 14:28] melloware opened #297 "Firefox: Uncaught TypeError: Error.captureStackTrace is not a function"
**Version:** 0.9.0
**Browser:** Firefox  93.0 (64-bit)

When I have a bad query request I get the following error: _Uncaught TypeError: Error.captureStackTrace is not a function_

**Stack Trace:**
![image](https://user-images.githubusercontent.com/4399574/137930976-89f35a46-9b0c-47e4-98b1-f0e3ef1201d1.png)

[2021-10-20 19:54] ranrao opened #298 "UnhandledPromiseRejectionWarning Error"
Hello All,

I'm using Node 14 and seem to be running into this error when adding simple test data to `solr`:

[code]

(node:39116) UnhandledPromiseRejectionWarning: Error: Request HTTP error 404:
    at Client.doRequest (..../node_modules/solr-client/dist/lib/solr.js:141:19)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)
(Use `node --trace-warnings ...` to show where the w

[2021-10-20 19:58] kibertoad commented on #298
I would strongly recommend giving latest RC version a try. It uses a much friendlier promise API that should be easier to consume. Main reason why it's not final yet is because we still need to update documentation, but it should be pretty stable and ready for production (and actually significantly more performant than the current stable version).

[2021-10-20 20:13] kibertoad commented on #298
@ranrao Ah, that explains it. You are trying using it with callback API which is no longer supported. Remove the callback parameter and just await this call.

[2021-10-20 20:14] kibertoad commented on #298
Let me update the sample.

[2021-10-20 20:20] kibertoad commented on #298
@ranrao Updated most important examples in `examples` directory as well as readme.

[2021-10-20 21:00] ranrao commented on #298
Thank you @kibertoad. Still seeing this error:

Error: Request HTTP error 404:
    at Client.doRequest (.../node_modules/solr-client/dist/lib/solr.js:141:19)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)
    at async index (/..../index.js:36:21)

My line 36 is  `const obj = await client.add([item]);`

[code]

[2021-10-20 21:04] ranrao commented on #298
brew services start solr
==> Successfully started `solr` (label: homebrew.mxcl.solr)

In terms of client url, this is the initial code:

[code]
Trying this simple command also fails.
[code]

[2021-10-20 21:06] kibertoad commented on #298
@ranrao Default host is `127.0.0.1`, default path is `/solr'`, default port is `8983`. Check if you can access SolrUI (admin panel) using such values; if not, pass correct version of these parameters to `createClient`

[2021-10-20 21:07] kibertoad commented on #298
Ah, another reason might be that you are using non-existing Solr core. Default is an empty one, you probably want to create and use a specific one.

[2021-10-20 21:11] ranrao commented on #298
Sure, thanks @kibertoad. Will create a Solr core and try again.

Any documentation that helps in creating a simple Solr core? We are switching from Elastic Search to Solr, and hence the learning curve. Thanks so much.

[2021-10-20 21:13] kibertoad commented on #298
@ranrao Do you use Docker? This is how we init Solr Docker image:
[code]

Alternatively see this: https://www.tutorialspoint.com/apache_solr/apache_solr_core.htm

[2021-10-20 21:26] #298 closed, assigned to nobody

[2021-10-21 19:24] #297 closed, assigned to nobody

[2021-11-03 16:46] melloware opened #301 "Question: TypeScript Declaration"
If I have the code...

[code]

How do I tell TypeScript what `err` and `json` objects  are since I don't see any exported TS Types from solr-client?

[2021-11-03 19:56] melloware commented on #301
Ahh thank you!  I am still on 0.9.0 that is why I didn't see it.

[2021-12-07 18:56] ranrao opened #311 "Requesting an example to add options like SSL parameters (like ca, cert, key)."
[code]

The above piece of example code returns a bad certificate if using solr-client. Normal REST API with https agent works. Please share the way to pass SSL parameters.

Another possible approach I tried:
[code]

Both approaches fail with the same error. What's the best way to pass certificates? Please guide. Thanks in advance.

[2021-12-08 19:25] ranrao commented on #311
Issue is only found in the latest release. This works fine in  "^0.10.0-rc6". Looks like agent is not plugging in request. Appreciate if we could deliver a fix.

[2021-12-09 22:30] kibertoad commented on #311
Looks like we'll need to extend undici a bit for this: https://github.com/nodejs/undici/issues/842
I'll give it a shot, thank you for reporting this.

[2021-12-10 15:51] AndreWillomitzer opened #314 "Undici library causes tests to fail in the browser (Karma)."
Hello! I have been working on this issue for a few weeks with one of the maintainers @kibertoad and figured I should make a formal issue so that even if we don't get it done, whoever does can link to the issue in their PR and close it.

### The Issue

The tests that exist in the `test` directory use Undici requests which are not browser compatible. If you attempt to run the tests using Karma it wi

[2021-12-13 00:12] #311 closed

[2021-12-13 00:15] kibertoad commented on #311
@ranrao Released in 0.10.0-rc9

[2022-01-06 20:39] #301 closed

[2022-01-11 21:43] snotmare opened #327 "Do not require a port when making a connection"
We have created a dns entry that forwards to the correct ip:port. We cannot use our dns entry when connecting with this library since it makes a connection assuming you have a port. This is from lib/solr.ts...

[code]

How best can we change this code to not assume a port? I see you've coded yourself into a corner by defaulting the port. Perhaps it would be best to add another option, "noPort", to

[2022-01-12 06:26] LaughingBubba opened #329 "Update function fails: "msg":"Unknown command 'id' at [5]""
Hi there, I'm not sure if I'm invoking the `update()` function correctly or not. The `add()` function works. Interestingly though, the `add()` seems to work like a replace????

There's no example of an update in the [docs](https://lbdremy.github.io/solr-node-client/) either.

Running the code below >>>
[code]

Results in this output:
[code]

[2022-01-18 05:43] LaughingBubba commented on #329
Never mind. I don't need to update as I proved that solr "upserts" documents a'la mongo. I ditched the client when I realised its a wrapper for some fairly simple REST calls back to the solr server. `superagent` was sufficient for my needs.

eg:
[code]

[2022-01-19 17:59] snotmare commented on #327
Hello! Any thoughts on this?

[2022-01-20 21:52] kibertoad commented on #327
I will review and finish this over weekend, sorry for the delay.

[2022-01-20 22:05] snotmare commented on #327
No worries! I appreciate you taking time for this. Cheers!

[2022-01-30 18:56] julianlam opened #337 "Uncaught exception when client.ping is called against unresponsive Solr instance"
In this specific case, there is no Solr instance available, so the connection is closed/refused. When the client attempts to call `client.ping()`, it throws an exception that I cannot catch, and crashes the Node.js server.

[code]

[code]

[2022-02-16 10:46] 58bits commented on #327
I think I may have also just bumped into this. We have an nginx proxy server in front of our Solr installation, and so we don't require a port number, but we do require https (secure: true). We can't seem to get a connection to work if we leave the port off, nor if we set it to 443.

[2022-03-13 23:53] #327 closed

[2022-03-13 23:57] kibertoad commented on #327
Implemented slightly less invasive way to support optional port, released in solr-client@0.10.0-rc10

[2022-04-05 15:42] projser opened #362 "{ library: 'SSL routines', function: 'ssl3_get_record', reason: 'wrong version number', code: 'ERR_SSL_WRONG_VERSION_NUMBER' } Error"
I am using solr 8.11. behingd a nginx server at digitalocean on ubuntu 20.00.

trying to run the code:

// Use `var solr = require('solr-client')` in your code
var solr = require('solr-client');

var client = solr.createClient({
	host : 'XXXX',
    path:"/solr",
    protocol: 'https',
	core : 'XXXXXX',
    secure: true

});

    client.basicAuth('XXXXX','XXXXXXX');

// Use `client.unauth` if you w

[2022-04-05 17:17] kibertoad commented on #362
See https://github.com/nodejs/undici/issues/267

[2022-07-22 03:59] #211 closed

[2022-11-08 09:22] ghost opened #471 "Ability to add other parameters like `debug` or `rows`"
I want to add a parameter to return the count of documents (thinking maybe this is faster). This is exactly what is asked here:
https://stackoverflow.com/questions/5050746/solr-solrj-how-can-i-determine-the-total-number-of-documents-in-an-index

So in the answers we propose two solutions: `debug` or `rows` but for each, they provide a value like:

`debug=query` and `rows=0`.  For what I've found i

[2022-11-08 09:22] ghost commented on #471
Furthermore now that I tested that, I'm having `TypeError: query.set is not a function`